<!-- 主页信息 S -->
	<div class="homepage_info menu js_menu">
		<form action="">
			<div class="clearfix"><label class="pull-left">头像</label></div>
			<div class="clearfix up_face clearfix">
				<div class="now_face pull-left">
					<img src="__IMG__/headportrait1.jpg" class="img-responsive" alt="">
				</div>
				<div class="change_imgbar pull-left">
					<a href="javascript:;" class="btn changeimg_btn" data-toggle="modal" data-target="#change_face">修改头像</a>
					<p>支持jpg、gif、png、bmp格式</p>
				</div>
			</div>
			<div class="clearfix"><label class="pull-left">名称</label></div>
			<div class="change_name">
				<input type="text" class="form-control" value="ljjchen29">
			</div>
			<div class="clearfix">
				<label class="pull-left">介绍</label>
				<span class="pull-right textarea_tips inputnote"></span>
			</div>
			<div class="introduction">
				<textarea name="introduction" id="introductionBar">要有最遥远的梦想和最朴素的生活，即使明日天寒地冻，路远马亡。浪迹天涯的孩子，祝你有梦可栖，有枝可依。</textarea>
			</div>
			<div class="clearfix"><label class="pull-left">个性域名</label></div>
			<div class="change_name">
				<input type="text" class="form-control" value="18872243121.lightblog.com">
			</div>
			<div class="form-group text-right">
				<button type="button" class="btn form_btn btn_default">取消</button>
        		<button type="button" class="btn form_btn btn_primary">保存</button>
			</div>
		</form>
	</div>
	<!-- 主页信息 E -->
	<!-- 模块选择 S -->
	<div class="module_select menu js_menu">
		<div class="module_box js_module_box">
			<div class="img_box">
				<img src="__IMG__/User/module1.jpg" class="img-responsive" alt="">
			</div>
			<p>纯蓝简洁</p>
		</div>
		<div class="module_box js_module_box">
			<div class="img_box">
				<img src="__IMG__/User/module1.jpg" class="img-responsive" alt="">
			</div>
			<p>纯蓝简洁</p>
		</div>
		<div class="module_box js_module_box">
			<div class="img_box">
				<img src="__IMG__/User/module1.jpg" class="img-responsive" alt="">
			</div>
			<p>纯蓝简洁</p>
		</div>
		<div class="module_box js_module_box">
			<div class="img_box">
				<img src="__IMG__/User/module1.jpg" class="img-responsive" alt="">
			</div>
			<p>纯蓝简洁</p>
		</div>
		<div class="module_box js_module_box">
			<div class="img_box">
				<img src="__IMG__/User/module1.jpg" class="img-responsive" alt="">
			</div>
			<p>纯蓝简洁</p>
		</div>
		<div class="module_box js_module_box">
			<div class="img_box">
				<img src="__IMG__/User/module1.jpg" class="img-responsive" alt="">
			</div>
			<p>纯蓝简洁</p>
		</div>
		<div class="module_box js_module_box">
			<div class="img_box">
				<img src="__IMG__/User/module1.jpg" class="img-responsive" alt="">
			</div>
			<p>纯蓝简洁</p>
		</div>
		<div class="module_box js_module_box">
			<div class="img_box">
				<img src="__IMG__/User/module1.jpg" class="img-responsive" alt="">
			</div>
			<p>纯蓝简洁</p>
		</div>
		<div class="module_box js_module_box">
			<div class="img_box">
				<img src="__IMG__/User/module1.jpg" class="img-responsive" alt="">
			</div>
			<p>纯蓝简洁</p>
		</div>
	</div>
	<!-- 模块选择 E -->
	<!-- 版权设置 S -->
	<div class="right_set menu js_menu">
		<div class="check_item clearfix">
			<input type="checkbox" class="pull-left" id="checkbox1">
			<label class="pull-left ml_10" for="checkbox1">版权水印</label>
			<p class="pull-left ml_20">勾选后图片日志将添加作者名称及轻博客地址水印，格式统一。</p>
		</div>
		<div class="check_item clearfix">
			<input type="checkbox" class="pull-left" id="checkbox2">
			<label class="pull-left ml_10" for="checkbox2">数字水印</label>
			<p class="pull-left ml_20">勾选后图片日志的图像信息中将内嵌作者和主页地址。</p>
		</div>
		<div class="check_item clearfix">
			<input type="checkbox" class="pull-left" id="checkbox3">
			<label class="pull-left ml_10" for="checkbox3">作品保护</label>
			<p class="pull-left ml_20">勾选后发布的图片日志将禁止右键另存并查看原图。</p>
		</div>
	</div>
	<!-- 版权设置 E -->
	<!-- 站外链接 S -->
	<div class="out_link menu js_menu">
		<ul class="js_linklist ui-sortable">
			<li class="clearfix lyrow ui-draggable">
				<div class="pull-left"><i class="iconfont drag ui-draggable-handle">&#xe656;</i> <span class="link_name">手账</span><span class="link_tip">（标签链接）</span></div>
				<div class="pull-right clearfix">
					<button type="button" class="close js_close"><i class="iconfont">&#xe633;</i></button>
					<a href="#" class="pull-right">编辑</a>
				</div>
			</li>
			<li class="clearfix lyrow ui-draggable">
				<div class="pull-left"><i class="iconfont drag ui-draggable-handle">&#xe656;</i> <span class="link_name">手账</span><span class="link_tip">（标签链接）</span></div>
				<div class="pull-right clearfix">
					<button type="button" class="close js_close"><i class="iconfont">&#xe633;</i></button>
					<a href="#" class="pull-right">编辑</a>
				</div>
			</li>
			<li><a href="javascipt:;" data-toggle="modal" data-target="#add_link"><i class="iconfont">&#xe635;</i> 添加链接</a></li>
		</ul>
	</div>
	<!-- 站外链接 E -->

	<!-- 添加链接 模态框 S -->
	<div class="modal fade" id="add_link" tabindex="-1">
	  <div class="modal-dialog al_modal_dialog" role="document">
	    <div class="modal-content al_modal_content">
	      <div class="modal-header al_modal_header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        <i class="iconfont">&#xe633;</i></button>
	      </div>
	      <div class="modal-body">
	         <ul class="tab_nav clearfix">
	         	<li class="active">
	         	<a href="#label_link" class="tab_nav_btn pull-left" data-toggle="tab">标签链接</a>
	         	</li>
	         	<li>
	         	<a href="#outweb_link" class="tab_nav_btn pull-left" data-toggle="tab">外站链接</a>
	         	</li>
	         </ul>
	         <div class="tab-content">
			  	<div class="tab-pane fade active in" id="label_link">
					<form class="al_form">
						<div class="label_select item clearfix">
							<label class="pull-left">标签</label>
							<div class="select_label js_select_label pull-left">
								<a href="#" class="selected_label">开源 (2)
								<i class="iconfont">&#xe60a;</i></a>	
								
								<div class="labels clearfix">
									<span class="al_label">开源 (2)</span>
									<span class="al_label">摄影 (1)</span>
									<span class="al_label">咕咕日付 (1)</span>
									<span class="al_label">绘画 (10)</span>
								</div>
							</div>
						</div>
						<div class="url item clearfix">
							<label class="pull-left">链接网址：</label>
							<span class="label_url">http://18872243121.lightblog.com/tag/开源</span>
						</div>
						<div class="link_name item clearfix">
							<label class="pull-left">链接名称：</label>
							<input type="text" class="pull-left txt" placeholder="例如“我的官网”">
							<label class="showonhome pull-right">
								<input type="checkbox"> 在主页上显示
							</label>
						</div>
						<div class="item_btn item clearfix text-right">
							<button type="button" class="btn form_btn btn_default" data-dismiss="modal">取消</button>
        					<button type="button" class="btn form_btn btn_primary">发布</button>
						</div>
					</form>

					<div class="explanation">
						<h4>使用说明</h4>
						<p>标　　签：选择该主页中使用过的标签，显示在当前主页中。</p>
						<p class="example">例如，您希望将使用“开源”标签的日志显示在主页中，可以选择“开源”标签。</p>
						<p>链接网址：根据你选择的标签，自动填入网址。</p>
						<p class="example">例如：选择“开源”标签，则网址为http://i.lightblog.com/tag/开源。</p>
						<p>链接名称：由您自定义。</p>
						<p class="example">例如：定义“开源”标签的链接名称为“我的开源圈”</p>
					</div>
			  	</div>
			  	<div class="tab-pane fade" id="outweb_link">
			  		<form class="al_form">
						<div class="link_url item clearfix">
							<label class="pull-left">链接网址：</label>
							<input type="text" class="txt" placeholder="例如“i.lightblog.com”">
						</div>
						<div class="link_name item clearfix">
							<label class="pull-left">链接名称：</label>
							<input type="text" class="pull-left txt" placeholder="例如“我的官网”">
							<label class="showonhome pull-right">
								<input type="checkbox"> 在主页上显示
							</label>
						</div>
						<div class="item_btn item clearfix text-right">
							<button type="button" class="btn form_btn btn_default" data-dismiss="modal">取消</button>
        					<button type="button" class="btn form_btn btn_primary">发布</button>
						</div>
					</form>

					<div class="explanation">
						<h4>使用说明</h4>
						<p>链接网址：由您自定义，通过该链接网址，跳转到您设置的目标网址。</p>
						<p class="example">例如，您希望将使用“开源”标签的日志显示在主页中，可以选择“开源”标签。</p>
						<p>链接网址：根据你选择的标签，自动填入网址。</p>
						<p class="example">例如：选择“开源”标签，则网址为http://i.lightblog.com/tag/开源。</p>
						<p>链接名称：由您自定义。</p>
						<p class="example">例如：定义“开源”标签的链接名称为“我的开源圈”</p>
					</div>
			  	</div>
			</div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- 添加链接 模态框 E -->
	<!-- 修改头像 模态框 S -->
	<div class="modal fade" id="change_face" tabindex="-1">
	  <div class="modal-dialog cf_modal_dialog" role="document">
	    <div class="modal-content cf_modal_content">
	      <div class="modal-header cf_modal_header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        <i class="iconfont">&#xe633;</i></button>
	        <h4 class="modal-title" id="myModalLabel">上传头像</h4>
	      </div>
	      <div class="modal-body clearfix">
	         <div class="upimg_box pull-left">
	         	 <div class="uface_btn">
	         	 	<i class="iconfont">&#xe635;</i> 
	         	 	选择照片
	         	 </div>
	         </div>
	         <div class="face_preview pull-right">
	         	<p class="tips">拖拽或缩放虚线框，生成自己满意的头像</p>
	         	<div class="face_110">
	         		<img src="" class="img-responsive">
	         	</div>
	         	<p class="tips">110*110像素</p>
	         	<div class="face_64">
	         		<img src="" class="img-responsive">
	         	</div>
	         	<p class="tips">64*64像素</p>
	         	<div class="face_30">
	         		<img src="" class="img-responsive">
	         	</div>
	         	<p class="tips">30*30像素</p>
	         </div>
	      </div>
	      <div class="modal-footer cf_modal_footer">
	        <button type="button" class="btn form_btn btn_default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn form_btn btn_primary">保存</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- 修改头像 模态框 E -->