<extend name="Public/body" />
<block name="body"> <!-- Content Wrapper. Contains page content -->
<!-- <include file="Common@Plugins/editor" /> Content Wrapper. Contains page content -->
<style type="text/css">
	#container,.form-control{width: 90%!important;}
	/* .upload-pre-item img{width: 40%!important;} */
</style>

<div class="content-wrapper" style="min-height: 922px;">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<?=$page_title?>
			<small>
				<?=$small_title?>
			</small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="<?=U('/Backend')?>"><i class="fa fa-dashboard"></i>首页</a>
			</li>
			<li class="active">
				<?=$page_title?>
			</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-body">
						<div id="example2_wrapper"
							class="dataTables_wrapper form-inline dt-bootstrap">
							<div class="row">
								<div class="col-sm-6">
								</div>
								<div class="col-md-12 text-right">
									<?=getTopBtn($menu_info['id'],I('pid'))?>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
								<form class="operate_form" action="<?=U('add')?>" method="post">
									<div class="box-body">
										<label class="reupload-img">轮播图片，点击这里重新上传</label>
										<input type="hidden" name="old_image" value="<?=$res['image']?>">
										<?php
											$config=array(
												'table'     =>'feed_image',
												'name'      =>'image',
												'width'		=> '750',
												'height'	=> '280',
												'scale'		=> '2.68'
											);
											echo W("Common/Jcrop/index",array($config,''));
											if($res['image']){
												echo "<div style='float: left;margin-top:-240px;margin-left: 800px;' >";
												echo "<p>现在的图片,若不修改图片，请不点上传图片</p>";
												echo "<img src='__ROOT__/".$res['image']."' width='375' height='140'>";
												echo "</div>";
											}
										?>
									</div>
									<div class="box-body">
										<label>轮播/文章标题</label>
										<p><input name="title" class="form-control"	type="text" placeholder="请输入轮播/文章标题" value="<?=$res['feed_title']?>"><p>
									</div>
										
									<div class="box-body">
										<label>内容</label>
										<p><textarea class="form-control" type="text" placeholder="请输入排序" name='content'><?= $res['feed_content']?></textarea> </p>
									</div>
									<input type="hidden" name="id" value="<?= $res['id'] ?>" />
									<div class="box-body">
									<p>
										<input class="btn btn-primary btn-sm ajax-post" target-form="operate_form" type="submit" value="提交"  /
									></p>
									</div>
								</form>
								</div>
							</div>
						</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
	</section>
	<!-- /.content -->
</div>
<script type="text/javascript">
	$(function (){
		$('.upload-img-box input').change(function (){
			
		});
	});
</script>
</block>