<extend name="Public/body"/>
<block name="style">
	<css href="__CSS__/login.css"/>
</block>
<block name="body">
	<header class="login_top">
		<div class="logo">
			<img src="__IMG__/logo.png" alt="">
		</div>
	</header>

	<div class="findword_mian">
		<div class="container">
			<div class="findword_content">
				<div class="lichengtu text-center">
					<img src="__IMG__/User/liuchengtu.png" alt="">
				</div>
				<form action="<?=U('new_password')?>" class="findword_form js_form">
					<div class="form_group clearfix">
						<label for="accountName pull-left">账户名：</label>
						<input type="text" class="form_input pull-right" id="accountName" datatype="*" placeholder="请输入账户名">
					</div>
					<div class="form_group clearfix">
						<label for="Codes pull-left">验证码：</label>
						<div class="input_group pull-right clearfix">
							<input type="text" class="form_input" id="Codes" datatype="*" placeholder="验证码" nullmsg="请输入验证码">
							<input type="button" class="get_codesbtn" value="获取验证码">
						</div>
					</div>
					<div class="form_group">
						<span class="Validform_checktip group_checktip" id="Validform_checktip"></span>
						<input type="submit" class="btn form_btn" value="下一步">
					</div>
				</form>
			</div>
		</div>
	</div>

	<include file="Home@Public/footer"/>
	<script>
		$(function(){
			// 表单验证样式自定义
	    	$(".js_form").Validform({
				tiptype:function(msg,o,cssctl){
					var objtip=$("#Validform_checktip");
					cssctl(objtip,o.type);
					// objtip.text(msg);
					msg = '<i class="iconfont">&#xe630;</i> '+msg;
					if(o.type==2){
						objtip.html('').fadeOut();
					}else{
						objtip.html(msg).fadeIn();
					}
				}
			})

			// 获取验证码倒计时
			$('.get_codesbtn').on('click',function(){
				var _this = $(this);
				var num = 60;
				_this.val('重新发送(60)');
				$('.Validform_checktip').addClass('mt15').text('验证码已发送，请注意查收');
				var timer = setInterval(function(){
					_this.attr('disabled','true');
					--num;
					_this.val('重新发送('+ num +')');
					if(num == 0){
						clearInterval(timer);
						_this.removeAttr('disabled');
						_this.val('获取验证码')
					}
				},1000);
			})
		})
	</script>
</block>