<extend name="Public/body"/>
<block name="style">
	<css href="__CSS__/login.css"/>
</block>
<block name="body">
	<header class="login_top">
		<div class="logo">
			<img src="__IMG__/logo.png" alt="">
		</div>
	</header>

	<div class="findword_mian">
		<div class="container">
			<div class="findword_content">
				<div class="lichengtu text-center">
					<img src="__IMG__/User/liuchengtu2.png" alt="">
				</div>
				<form action="<?=U('success')?>" class="findword_form js_form">
					<div class="form_group clearfix">
						<label for="new_password pull-left">新密码：</label>
						<input type="password" class="form_input pull-right" id="new_password" name="new_password" datatype="*6-16" placeholder="请输入新密码">
					</div>
					<div class="form_group clearfix">
						<label for="accountName pull-left">确认密码：</label>
						<input type="password" class="form_input pull-right" recheck="new_password" id="new_password2" datatype="*6-16" placeholder="请确认新密码" errormsg="两次输入密码不一致">
					</div>
					<div class="form_group">
						<span class="Validform_checktip group_checktip" id="Validform_checktip"></span>
						<button class="btn form_btn">确认修改</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<include file="Home@Public/footer"/>
	<script>
		$(function(){
			// 表单验证样式自定义
	    	$(".js_form").Validform({
				tiptype:function(msg,o,cssctl){
					var objtip=$("#Validform_checktip");
					cssctl(objtip,o.type);
					// objtip.text(msg);
					msg = '<i class="iconfont">&#xe630;</i> '+msg;
					if(o.type==2){
						objtip.html('').fadeOut();
					}else{
						objtip.html(msg).fadeIn();
					}
				}
			})
		})
	</script>
</block>