<extend name="Public/body"/>
<block name="style">
	<css href="__CSS__/ucenter.css"/>
	<css href="__CSS__/fromu.css"/>
</block>
<block name="body">
	<include file="Public/setup_top"/>
	<nav class="navbar navbar-default navbar_fromu">
	    <div class="fromu_container">
		    <div class="navbar-header">
		      <a class="navbar-brand brand_fromu" href="#">ljjchen29</a>
		    </div>
		    <ul class="nav navbar-nav">
		        <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>
		        <li><a href="#">归档</a></li>
		        <li><a href="#">私信</a></li>
		    </ul>
	        <form class="navbar-form navbar-right search_bar_fromu" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control search_bar" placeholder="搜索">
		          <span class="fdj"><i class="iconfont">&#xe605;</i></span>
		        </div>
	        </form>
		</div><!-- /.container -->
	</nav>
	<div class="fromu_main">
		<div class="fromu_container clearfix">
			<div class="fromu_col">
				<div class="blog_con_fromu">
					<div class="blog_img">
						<img src="__IMG__/User/template1.jpg" class="img-responsive" alt="">
					</div>
					<div class="blog_txt">
						<div class="like_check text-right">
							<label class="js_like">
								<i class="iconfont">&#xe637;</i> 喜欢<span class="like_n">26</span>
							</label>
						</div>
						<div class="blog_word">
							<p>一路向西，漫行青海</p>
							<p>我在星空下已诉说千遍，只愿在日出时与你再相见。</p>
							<p>雄踞“世界屋脊”的青海省是个神秘而诱人的地方...</p>
						</div>
						<div class="blog_date">2016-04-21</div>
					</div>
				</div>

				<div class="blog_con_fromu">
					<div class="blog_img">
						<img src="__IMG__/User/u_blog_img1.jpg" class="img-responsive" alt="">
					</div>
					<div class="blog_txt">
						<div class="like_check text-right">
							<label class="js_like">
								<i class="iconfont">&#xe637;</i> 喜欢<span class="like_n">26</span>
							</label>
						</div>
						<div class="blog_word">
							<p>显得非常“文艺，允许展现微博不允许的个性；比博客更简单，更方便分享和维护——发一张照片就可以是一条像模像样的博客。</p>
						</div>
						<div class="blog_date">2016-04-21</div>
					</div>
				</div>
			</div>
			<div class="fromu_col">
				<div class="blog_con_fromu">
					<div class="blog_img">
						
					</div>
					<div class="blog_txt">
						<div class="like_check text-right">
							<label class="js_like">
								<i class="iconfont">&#xe637;</i> 喜欢<span class="like_n">26</span>
							</label>
						</div>
						<div class="blog_word">
							<p>有这么一些人，喜欢拍点什么，写日志总是想不到标题，拍了一堆相片，不知如何组成一个文章，不知如何或者不想加上一些修饰就发布上来……</p><br>
							<p>他们生活随意，常常需要在工作台上贴上一些黄色的小纸条来提醒自己杂乱的工作，这时，真的需要一个LOFTER，也来参与一下热闹的互联网，微博你玩不起来，博客想 不到主题，不知道如何发布组图也不想发布，你也不知道如何组织文字和整理思路，但是你有一堆的好作品或者一堆好相片，也想在大伙里路过一下，让大伙转过头 来注意一下你他们生活随意，常常需要在工作台上贴上一些黄色的小纸条来提醒自己杂乱的工作，这时，真的需要一个LOFTER，也来参与一下热闹的互联网，微博你玩不起来，博客...</p>
						</div>
						<div class="blog_date">2016-04-21</div>
					</div>
				</div>

				<div class="blog_con_fromu">
					<div class="blog_img">
						<img src="__IMG__/User/template2.jpg" class="img-responsive" alt="">
					</div>
					<div class="blog_txt">
						<div class="like_check text-right">
							<label class="js_like">
								<i class="iconfont">&#xe637;</i> 喜欢<span class="like_n">26</span>
							</label>
						</div>
						<div class="blog_word">
							<p>显得非常“文艺，允许展现微博不允许的个性；比博客更简单，更方便分享和维护——发一张照片就可以是一条像模像样的博客。</p>
						</div>
						<div class="blog_date">2016-04-21</div>
					</div>
				</div>
			</div>
			<div class="fromu_col">
				<div class="blog_con_fromu">
					<div class="blog_img">
						<img src="__IMG__/User/template3.jpg" class="img-responsive" alt="">
					</div>
					<div class="blog_txt">
						<div class="like_check text-right">
							<label class="js_like">
								<i class="iconfont">&#xe637;</i> 喜欢<span class="like_n">26</span>
							</label>
						</div>
						<div class="blog_word">
							<p>一路向西，漫行青海</p>
							<p>我在星空下已诉说千遍，只愿在日出时与你再相见。</p>
							<p>雄踞“世界屋脊”的青海省是个神秘而诱人的地方...</p>
						</div>
						<div class="blog_date">2016-04-21</div>
					</div>
				</div>

				<div class="blog_con_fromu">
					<div class="blog_img">
						<img src="__IMG__/User/template4.jpg" class="img-responsive" alt="">
					</div>
					<div class="blog_txt">
						<div class="like_check text-right">
							<label class="js_like">
								<i class="iconfont">&#xe637;</i> 喜欢<span class="like_n">26</span>
							</label>
						</div>
						<div class="blog_word">
							<p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？</p>
						</div>
						<div class="blog_date">2016-04-21</div>
					</div>
				</div>
			</div>
			<div class="fromu_col">
				<div class="blog_con_fromu">
					<div class="blog_img">
						<img src="__IMG__/User/template5.jpg" class="img-responsive" alt="">
					</div>
					<div class="blog_txt">
						<div class="like_check text-right">
							<label class="js_like">
								<i class="iconfont">&#xe637;</i> 喜欢<span class="like_n">26</span>
							</label>
						</div>
						<div class="blog_word">
							
						</div>
						<div class="blog_date">2016-04-21</div>
					</div>
				</div>

				<div class="blog_con_fromu">
					<div class="blog_img">
						<img src="__IMG__/User/template6.jpg" class="img-responsive" alt="">
					</div>
					<div class="blog_txt">
						<div class="like_check text-right">
							<label class="js_like">
								<i class="iconfont">&#xe637;</i> 喜欢<span class="like_n">26</span>
							</label>
						</div>
						<div class="blog_word">
							<p>有这么一些人，喜欢拍点什么，写日志总是想不到标题，拍了一堆相片，不知如何组成一个文章，不知如何或者不想加上一些修饰就发布上来……</p>
						</div>
						<div class="blog_date">2016-04-21</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file="Public/nav_detail"/>
	<script>
		$(function(){
			$('.js_like').click(function(){
				$(this).toggleClass('like');
			});
		})
	</script>
</block>