<extend name="Public/body"/>
<block name="style">
	<css href="__CSS__/browse.css"/>
	<css href="__PLUGIN__/popover/dist/jquery.webui-popover.min.css"/>
</block>
<block name="body">
	<include file="Public/browse_nav" />
	<!-- 主体部分 S-->
	<div class="main topic_main">
		<div class="container">
			<div class="col-lg-9 clearfix">
				<div class="topic_delcont">
					<div class="detail_banner">
						<img src="__IMG__/topic_del_banner.jpg" class="img-responsive" alt="">
						<span class="banner_label"></span>
						<p class="title">黑莓老大承认泄露用户密钥科技公司应协助警方</p>
					</div>
					<p class="description">依靠信息安全卖点，黑莓曾经在全球智能手机市场获得王者地位。不过今天，黑莓已经转型成为安卓手机厂商，全球份额只剩下可怜的1%，完全失去了昔日的雄风。</p>
					<div class="article_del">
						<h3 class="text-center" style="font-size:20px;">黑莓老大承认泄露用户密钥</h3>
						<p>腾讯科技讯 素以信息安全著称的加拿大手机制造商黑莓公司，最近爆出一宗丑闻：加拿大警方早在2010年，就获得了加密密钥，可以随意破解黑莓手机普通消费者的隐私信息。日前黑莓首席执行官程守宗对外证实了相关内容，他也做出了和科技行业截然不同的表态，称科技公司应该帮助政府或者警方，合法获得相关手机的信息。</p>
						<p>最近根据美国媒体Vice爆料，在连续三年时间里，加拿大警方掌握有黑莓公司唯一的加密主密钥，相当于获得了手机信息的一把钥匙。而在过去多年时间里，黑莓手机一直被认为是全世界最安全的设备，获得了许多国家商界和政界人士的青睐。</p>
						<img src="__IMG__/topic_del_img.jpg" class="img-responsive" alt="">
					</div>
					<p class="topic_tips">更多黑莓科技信息，戳开浏览哟~</p>
					<div class="moreinfo_conbox">
						<p class="formwho">来自轻博客科技达人 <strong>大黑：</strong></p>
						<div class="info_content">
							<span class="angle angle_lt"></span>
							<span class="angle angle_rt"></span>
							<span class="angle angle_lb"></span>
							<span class="angle angle_rb"></span>
							<img src="__IMG__/topic_del_img2.jpg" class="img-responsive" alt="">
							<div class="user_info clearfix">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/talent_img1.jpg" class="img-responsive" alt="">
								</a>
								<a href="#" class="user_name pull-left">大黑</a>
							</div>
							<p>
								4月19日消息，据国外媒体engadget报道，黑莓公司CEO周一在Twitter上回应了加拿大警方解锁超过100万部黑莓手机的加密信息泄露事件。有消息表明加拿大警察能够使用加密密钥解锁任意一部黑莓手机。但目前黑莓是否已经不再使用此密钥尚未可知。黑莓CEO并没有明确说明黑莓公司是否授权了加拿大当局来解锁黑莓手机。但他提到了配合执法是应该的，他认为科技公司应该配合执法部门合理合法的合作请求。
							</p>
						</div>
					</div><!-- moreinfo_conbox -->
					<div class="moreinfo_conbox">
						<p class="formwho">来自轻博客科技达人 <strong>EVA小靓：</strong></p>
						<div class="info_content">
							<span class="angle angle_lt"></span>
							<span class="angle angle_rt"></span>
							<span class="angle angle_lb"></span>
							<span class="angle angle_rb"></span>
							<img src="__IMG__/topic_del_img3.jpg" class="img-responsive" alt="">
							<div class="user_info clearfix">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/talent_img1.jpg" class="img-responsive" alt="">
								</a>
								<a href="#" class="user_name pull-left">EVA小靓</a>
							</div>
							<p>
								4月19日消息，据国外媒体engadget报道，黑莓公司CEO周一在Twitter上回应了加拿大警方解锁超过100万部黑莓手机的加密信息泄露事件。有消息表明加拿大警察能够使用加密密钥解锁任意一部黑莓手机。但目前黑莓是否已经不再使用此密钥尚未可知。黑莓CEO并没有明确说明黑莓公司是否授权了加拿大当局来解锁黑莓手机。但他提到了配合执法是应该的，他认为科技公司应该配合执法部门合理合法的合作请求。
							</p>
						</div>
					</div><!-- moreinfo_conbox -->
					<div class="like_btn_box">
						<a href="#" class="like_btn">
							<i class="iconfont icon-xihuan"></i> 喜欢<span class="num">206</span>
						</a>
					</div>
					<a href="#" class="more_article">黑莓叫板苹果:你就从了FBI吧!</a>
					<p class="topic_tips">快分享给你的小伙伴吧~</p>
					<ul class="share_links topic_share clearfix">
						<li>
							<a href="#" class="txqq"><i class="iconfont">&#xe642;</i></a>
							<div>腾讯qq</div>
						</li>
						<li>
							<a href="#" class="qqzone"><i class="iconfont">&#xe606;</i></a>
							<div>qq空间</div>
						</li>
						<li>
							<a href="#" class="sina"><i class="iconfont">&#xe621;</i></a>
							<div>新浪微博</div>
						</li>
						<li>
							<a href="#" class="weixin"><i class="iconfont">&#xe620;</i></a>
							<div>微信</div>
						</li>
						<li>
							<a href="#" class="pyq"><i class="iconfont">&#xe644;</i></a>
							<div>朋友圈</div>
						</li>
						<li>
							<a href="#" class="sunrun"><i class="iconfont">&#xe64f;</i></a>
							<div>尚软</div>
						</li>
					</ul>
					<div class="formwho_box">
						<div class="title">
							上方作品来源于以下博主：
						</div>
						<div class="formwho_content">
							<div class="user_info clearfix">
								<a href="#" class="user_img">
									<img src="__IMG__/talent_img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info_txt">
									<a href="#" class="user_name show">大黑</a>
									<span class="signature">hi，this is pink.</span>
								</div>
								<button class="btn btn-default js_atten_btn attention_btn pull-right">
									<i class="iconfont"></i> 关注
								</button>
							</div>
							<div class="user_info clearfix">
								<a href="#" class="user_img">
									<img src="__IMG__/talent_img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info_txt">
									<a href="#" class="user_name show">EVA小靓</a>
									<span class="signature">日居月诸，胡迭而微。</span>
								</div>
								<button class="btn btn-default js_atten_btn attention_btn pull-right">
									<i class="iconfont"></i> 关注
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 clearfix">
				<ul class="list-group con_boxshadow">
					<li class="list-group-item list_header">
						<p style="font-size:16px;">
						更多专题<span class="more pull-right iconfont" style="color:#999">&#xe607;</span>
						</p>
					</li>
					<li class="list-group-item img_item">
						<a href="<?=('index')?>">
							<img src="__IMG__/sunrun_talk.jpg" class="img-responsive" alt="">
							<div class="model">
								<div class="sunrun_talk">
									<span class="border_lt"></span>
									<span class="border_rb"></span>
									尚软说
								</div>
							</div>
						</a>
					</li>
				</ul>

				<div class="list-group share_to con_boxshadow">
					<div class="list-group-item list_header">
						<p style="font-size:16px;">
						同步到
						</p>
					</div>
					<div class="list-group-item share_item">
						<ul class="share_links clearfix">
							<li>
								<a href="#" class="qqzone"><i class="iconfont">&#xe606;</i></a>
								<div>qq空间</div>
							</li>
							<li>
								<a href="#" class="sina"><i class="iconfont">&#xe621;</i></a>
								<div>新浪微博</div>
							</li>
							<li>
								<a href="#" class="pyq"><i class="iconfont">&#xe644;</i></a>
								<div>朋友圈</div>
							</li>
							<li>
								<a href="#" class="sunrun"><i class="iconfont">&#xe64f;</i></a>
								<div>尚软</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 主体部分 S-->
	<div class="loading_box"><i class="iconfont">&#xe61a;</i>正在加载</div>
</block>
<block name="script">
	<js href="__PLUGIN__/popover/dist/jquery.webui-popover.min.js"/>
	<js href="__JS__/common.js"/>
</block>