<extend name="Home@Public/body"/>
<block name="style">
	<css href="__CSS__/browse.css"/>
	<css href="__PLUGIN__/popover/dist/jquery.webui-popover.min.css"/>
</block>
<block name="body">
	<div class="container">
		<div class="topic_content browse_topic con_content">
			<div class="topic_group clearfix">
				<div class="con_topic_box">
					<div class="con_topic">
						<div class="topic_img">
							<a href="<?=U('details')?>"><img src="__IMG__/sunrun_talk.jpg" class="img-responsive" alt=""></a>
						</div>
						<div class="topic_txt">
							<p class="topic_name">尚软说</p>
						</div>
					</div>
				</div>
				<div class="con_topic_box">
					<div class="con_topic">
						<div class="topic_img">
							<a href="<?=U('details')?>"><img src="__IMG__/sunrun_talk.jpg" class="img-responsive" alt=""></a>
						</div>
						<div class="topic_txt">
							<p class="topic_name">尚软说</p>
						</div>
					</div>
				</div>
				<div class="con_topic_box">
					<div class="con_topic">
						<div class="topic_img">
							<a href="<?=U('details')?>"><img src="__IMG__/sunrun_talk.jpg" class="img-responsive" alt=""></a>
						</div>
						<div class="topic_txt">
							<p class="topic_name">尚软说</p>
						</div>
					</div>
				</div>
				<div class="con_topic_box">
					<div class="con_topic">
						<div class="topic_img">
							<a href="<?=U('details')?>"><img src="__IMG__/sunrun_talk.jpg" class="img-responsive" alt=""></a>
						</div>
						<div class="topic_txt">
							<p class="topic_name">尚软说</p>
						</div>
					</div>
				</div>
				<div class="con_topic_box">
					<div class="con_topic">
						<div class="topic_img">
							<a href="<?=U('details')?>"><img src="__IMG__/sunrun_talk.jpg" class="img-responsive" alt=""></a>
						</div>
						<div class="topic_txt">
							<p class="topic_name">尚软说</p>
						</div>
					</div>
				</div>
				<div class="con_topic_box">
					<div class="con_topic">
						<div class="topic_img">
							<a href="<?=U('details')?>"><img src="__IMG__/sunrun_talk.jpg" class="img-responsive" alt=""></a>
						</div>
						<div class="topic_txt">
							<p class="topic_name">尚软说</p>
						</div>
					</div>
				</div>
				<div class="con_topic_box">
					<div class="con_topic">
						<div class="topic_img">
							<a href="<?=U('details')?>"><img src="__IMG__/sunrun_talk.jpg" class="img-responsive" alt=""></a>
						</div>
						<div class="topic_txt">
							<p class="topic_name">尚软说</p>
						</div>
					</div>
				</div>
				<div class="con_topic_box">
					<div class="con_topic">
						<div class="topic_img">
							<a href="<?=U('details')?>"><img src="__IMG__/sunrun_talk.jpg" class="img-responsive" alt=""></a>
						</div>
						<div class="topic_txt">
							<p class="topic_name">尚软说</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>