<div class="trend_del_title clearfix">
	<div class="user_img pull-left">
		<a href="#">
			<img src="__IMG__/user-img6.jpg" class="img-responsive" alt="">
		</a>
	</div>
	<a href="javascript:;" class="pull-left user_name">布鲁兰</a>
	<button class="attention_btn btn btn-default js_atten_btn pull-left">
		<i class="iconfont">&#xe618;</i> 关注
	</button>
</div>
<div class="trend_del_content">
	<img src="__IMG__/trend-img15.jpg" width="900" alt="">
</div>
<div class="trend_del_foot blogcnt_box clearfix">
	<div class="label_bar pull-left">
		<i class="iconfont">&#xe615;</i>
		<a href="javascript:;">尚软</a>
		<a href="javascript:;">开源</a>
		<a href="javascript:;">科技</a>
	</div>
	<div class="blogtools_bar pull-right">
		<a href="javascript:;" class="ja_abtn hot_btn">热度(<span class="num">19</span>)</a>	
		<a href="javascript:;" class="ja_abtn"><i class="iconfont">&#xe612;</i> 评论(2)</a>
		<a href="javascript:;" class="ja_abtn"><i class="iconfont">&#xe60f;</i> 分享</a>
		<a href="javascript:;" class="js_tjbtn"><i class="iconfont">&#xe614;</i> 推荐</a>
		<a href="javascript:;" class="js_likebtn"><i class="iconfont icon-xihuan"></i> 喜欢</a>
	</div>
</div>
<div class="side_box blogcnt_box">
	<div class="blogtools_bar side_bar">
		<a href="javascript:;" class="js_likebtn"><i class="iconfont icon-xihuan"></i></a>
		<a href="javascript:;" class="js_tjbtn"><i class="iconfont">&#xe614;</i></a>
		<a href="<?=U('share')?>" class="js_sharebtn sharebtn dialog" dialog-id="share_dialog" title="转载" ><i class="iconfont">&#xe640;</i></a>
	</div>
</div>
<!-- 热度列表 S-->
<div class="hot_bar con_bar js_hot_bar">
	<ul class="hot_list con_list js_hot_list">
		<li class="clearfix">
			<span class="user_simg pull-left" style="background-image:url('__IMG__/user-img1.jpg')">
				
			</span>
			<div class="comment_txt pull-left">
				<span class="user_name">
					ljjchen29
				</span>
				<span class="js_comment_txt">
				喜欢此图片
				</span>
			</div>
		</li>
		<li class="clearfix">
			<span class="user_simg pull-left" style="background-image:url('__IMG__/user-img2.jpg')">
				
			</span>
			<div class="comment_txt pull-left">
				<span class="user_name">
					每日穿搭小图
				</span>
				<span class="js_comment_txt">
				喜欢此图片
				</span>
			</div>
		</li>
		<li class="clearfix">
			<span class="user_simg pull-left" style="background-image:url('__IMG__/user-img3.jpg')">
				
			</span>
			<div class="comment_txt pull-left">
				<span class="user_name">
					MIC复古小姐
				</span>
				<span class="js_comment_txt">
				喜欢此图片
				</span>
			</div>
		</li>
		<li class="clearfix">
			<span class="user_simg pull-left" style="background-image:url('__IMG__/user-img4.jpg')">
				
			</span>
			<div class="comment_txt pull-left">
				<span class="user_name">
					left小胖猪
				</span>
				<span class="js_comment_txt">
				喜欢此图片
				</span>
			</div>
		</li>
		<li class="clearfix">
			<span class="user_simg pull-left" style="background-image:url('__IMG__/user-img5.jpg')">
				
			</span>
			<div class="comment_txt pull-left">
				<span class="user_name">
					每日穿搭小图
				</span>
				<span class="js_comment_txt">
				喜欢此图片
				</span>
			</div>
		</li>
		<li class="clearfix">
			<span class="user_simg pull-left" style="background-image:url('__IMG__/user-img6.jpg')">
				
			</span>
			<div class="comment_txt pull-left">
				<span class="user_name">
					lyonhooo
				</span>
				<span class="js_comment_txt">
				喜欢此图片
				</span>
			</div>
		</li>
	</ul>
	<div class="look_more"><i class="iconfont">&#xe623;</i> 查看更多</div>
	<span class="slideUpBtn">收起 <i class="iconfont">&#xe622;</i></span>
</div>
<!-- 热度列表 E-->
<!-- 评论列表 S-->
<div class="comment_bar con_bar js_comment_bar">
	<div class="input_bar clearfix">
		<input type="text" class="form-control txt_input js_txt_input pull-left">
		<button class="btn btn-primary btn_comment js_btn_comment pull-right">评论</button>
	</div>
	<ul class="comment_list con_list js_comment_list">
		<li class="clearfix">
			<span class="user_simg pull-left" style="background-image:url('__IMG__/user-img1.jpg')">
				
			</span>
			<div class="comment_txt pull-left">
				<span class="user_name">
					ljjchen29
				</span>
				<span class="js_comment_txt">
				我很喜欢这张图。
				</span>
			</div>
			<div class="btn_group pull-right">
				<a href="javascript:;" class="delete_btn js_delete">删除</a>
				<a href="javascript:;">回复</a>	
			</div>
		</li>
		<li class="clearfix sr-only js_lidemo">
			<span class="user_simg pull-left" style="background-image:url('__IMG__/user-img1.jpg')">
				
			</span>
			<div class="comment_txt pull-left">
				<span class="user_name">
					ljjchen29
				</span>
				<span class="js_comment_txt">
				ssksksks
				</span>
			</div>
			<div class="btn_group pull-right">
				<a href="javascript:;" class="js_delete">删除</a>	
			</div>
		</li>
		<li class="clearfix">
			<span class="user_simg pull-left" style="background-image:url('__IMG__/user-img2.jpg')">
				
			</span>
			<div class="comment_txt pull-left">
				<span class="user_name">
					每日穿搭小图
				</span>
				<span class="js_comment_txt">
				文艺范儿十足呀~
				</span>
			</div>
			<div class="btn_group pull-right">
				<a href="javascript:;" class="delete_btn js_delete">删除</a>
				<a href="javascript:;">回复</a>	
			</div>
		</li>
		<li class="clearfix">
			<span class="user_simg pull-left" style="background-image:url('__IMG__/user-img3.jpg')">
				
			</span>
			<div class="comment_txt pull-left">
				<span class="user_name">
					left小胖猪
				</span>
				<span class="js_comment_txt">
				见云之灿烂想其衣裳之华艳，见花之艳丽想人之容貌照人。若不是在群玉山头见到了她，就是在瑶池的月光下来相逢。
				</span>
			</div>
			<div class="btn_group pull-right">
				<a href="#" class="delete_btn js_delete">删除</a>
				<a href="javascript:;">回复</a>	
			</div>
		</li>
		<li class="clearfix">
			<span class="user_simg pull-left" style="background-image:url('__IMG__/user-img4.jpg')">
				
			</span>
			<div class="comment_txt pull-left">
				<span class="user_name">
					MIC复古小姐
				</span>
				<span class="js_comment_txt">
				我很喜欢这张图我很喜欢这张图
				我很喜欢这张图我很喜欢这张图我很喜欢这张图我很喜欢这张图
				</span>
			</div>
			<div class="btn_group pull-right">
				<a href="#" class="delete_btn js_delete">删除</a>
				<a href="javascript:;">回复</a>	
			</div>
		</li>
	</ul>
	<span class="slideUpBtn">收起 <i class="iconfont">&#xe622;</i></span>
</div>
<!-- 评论列表 E-->
<!-- 分享列表 S-->
<div class="share_bar con_bar js_share_bar">
	<ul class="share_links clearfix">
		<li>
			<a href="#" class="txqq"><i class="iconfont">&#xe642;</i></a>
			<div>腾讯qq</div>
		</li>
		<li>
			<a href="#" class="qqzone"><i class="iconfont">&#xe606;</i></a>
			<div>qq空间</div>
		</li>
		<li>
			<a href="#" class="sina"><i class="iconfont">&#xe621;</i></a>
			<div>新浪微博</div>
		</li>
		<li>
			<a href="#" class="weixin"><i class="iconfont">&#xe620;</i></a>
			<div>微信</div>
		</li>
		<li>
			<a href="#" class="pyq"><i class="iconfont">&#xe644;</i></a>
			<div>朋友圈</div>
		</li>
		<li>
			<a href="#" class="sunrun"><i class="iconfont">&#xe64f;</i></a>
			<div>尚软</div>
		</li>
	</ul>
</div>
<!-- 分享列表 E-->
<block name="script">
	<js href="__JS__/common.js"/>
	<script>
		$(function(){
			$('.js_atten_btn').click(function(){
				var tHtml = $(this).html();
				if($(this).hasClass('attention_btn')){
					$(this).removeClass('attention_btn').addClass('dont_attention');
					tHtml = "取消关注";
					$(this).html(tHtml);
				}else if($(this).hasClass('dont_attention')){
					$(this).removeClass('dont_attention').addClass('attention_btn');
					tHtml = '<i class="iconfont">&#xe618;</i> 关注';
					$(this).html(tHtml);
				}
			});

			// 查看完整图片
			window.onload=function(){
				$('.js_trendimg').each(function(){
					var imgHeight = $(this).find('img').height();
					if(imgHeight>500){
						$(this).addClass('long_img_box');
						$(this).append('<div class="look_all js_look_all"><i class="iconfont">&#xe61b;</i> 查看完整图片</div>')
					}
				});
			}

			// 爱心切换
			$('.js_icon_like').click(function(){
				if($(this).hasClass('icon-xihuan')){
					$(this).removeClass('icon-xihuan').addClass('icon-aixinshixin');
				}else if($(this).hasClass('icon-aixinshixin')){
					$(this).removeClass('icon-aixinshixin').addClass('icon-xihuan');
				}
			});

		})
	</script>
</block>