.help_content {
	width: 830px;
	border-radius: 4px;
	background: #fff;
	padding:24px;
	box-shadow: 0 0 5px rgba(197,197,197,.91);
}
.help_content .title,
.contact_main .title {
	border-bottom: 1px solid #c9c9c9;
}
.help_content .title h4,
.contact_main .title h4 {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 20px;
}
.help_search_bar {
	position: relative;
}
.help_search_bar .icon_fdj {
	position: absolute;
	left:5px;
	font-size: 24px;
	color:#999;
}
.help_search_bar input {
	padding-left: 34px;
}
.question_box {
	padding: 24px 0 0;
}
.question_con {
	margin-bottom: 30px;
}
.question_con .question i {
	color:#b0d7eb;
	font-size: 22px;
}
.question_con .answer {
	color:#666;
	padding-left:30px;
	line-height: 28px;
}
.question_con .answer p {
	margin-bottom: 0;
}
.question_con .answer .answer_list {
	padding-left: 30px;
	list-style: disc;
}

.feedback {
	width: 320px;
	box-shadow: 0 0 5px rgba(197,197,197,.91);
	border-radius: 4px;
}
.feedback .title {
	background-color: #ececec;
	font-size: 16px;
	border-radius: 4px 4px 0 0;
	padding:20px 24px;
}
.feedback .content {
	background-color: #fff;
	border-radius: 0 0 4px 4px;
	height: 561px;
}
.feedback .content .btn_group {
	padding:32px 0;
}
.feedback .content .links {
	padding:0 30px;
}
.feedback_btn {
	display: block;
	width: 264px;
	height: 44px;
	background-color: #5ac3ff;
	border-radius: 4px;
	margin:0 auto;
	text-align: center;
	line-height: 44px;
	font-size: 16px;
	color:#fff;
}
.feedback_btn i {
	font-size: 20px;
}
.feedback_btn:hover {
	background-color: #43A5DD;
	color:#fff;
}

/*模态框样式 S*/
.help_modal {
	position: absolute;
	top:50%;
	margin-top: -165px;
	left:50%;
	margin-left: -300px;
}
.help_modal_h {
	border-bottom-color: transparent; 
}
.help_modal_h .close {
	margin-top: -8px;
}
.help_modal_b {
	padding-bottom: 40px;
}
.link_btn {
	position: relative;
	display: block;
	width: 520px;
	height: 106px;
	border-radius: 6px;
	border:1px solid #e1e1e1;
	padding-left: 50px;
	padding-top: 4px;
	margin:10px auto;
	background-color: #f6f6f6;
}
.link_btn h3 {
	color:#444;
}
.link_btn p {
	color:#666;
}
.link_btn:hover {
	background-color: #fff;
	border-color:#32b5fb;
	box-shadow: 1px 1px 3px 1px #c5c5c5;
}
.link_btn:hover i {
	color:#32b5fb;
}
.link_btn i {
	position: absolute;
	right:40px;
	top:50%;
	margin-top: -19px;
	font-size: 26px;
}
/*模态框样式 E*/
/*发私信样式 S*/
.messages_content {
	height: 612px;
}
.messages_form {
	position: absolute;
	top:50%;
	margin-top: -177px;
	left:50%;
	margin-left: -336px;
	width: 672px;
	height: 354px;
	background-color: #fff;
	padding:30px;
	border: 1px solid #e1e1e1;
}
.form_title h3 {
	margin:0;
}
.form_title .form_label {
	color:#666;
	margin-top: 6px;
}
.msg_text {
	width: 100%;
	height: 170px;
	resize: none;
	border: 1px solid #c9c9c9;
	box-shadow: 0 1px 3px 1px rgba(230,230,230,.75) inset;
	margin-top: 10px;
	padding:10px;
}
.messages_form .btn_group {
	margin-top: 20px;
}
/*发私信样式 S*/
/*联系我们样式 S*/
.contact_main {
	border-radius: 4px;
	background: #fff;
	padding:24px;
	box-shadow: 0 0 5px rgba(197,197,197,.91);
	margin-bottom: 24px;
}
.contact_content {
	padding:30px 0;
}
.contact_content p {
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 40px;
}
.us_info li {
	font-size: 16px;
	line-height: 30px;
}
.friends_link {
	padding-top: 20px;
}
.friends_link li {
	float: left;
	margin-left: 24px;
}
/*联系我们样式 E*/
