<extend name="Public/body" />
<block name="body"> <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 922px;">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<?=$page_title?>
			<small>
				<?=$small_title?>
			</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="<?=U('/Backend')?>"><i class="fa fa-dashboard"></i>
					首页</a></li>
			<li class="active">
				<?=$page_title?>
			</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-body">
						<div id="example2_wrapper"
							class="dataTables_wrapper form-inline dt-bootstrap">
							<div class="row">

								<div class="col-md-2">
									<!--
                        	<label><select class="form-control input-sm">

                                <option value="10">10</option>
                                <option value="25">25</option><option value="50">50</option>
                                <option value="100">100</option>

                        	</select></label>-->
								</div>
								<div class="col-md-5">
									<!--
                        	<label>搜索:<input type="search" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
                       		-->
								</div>

								<div class="col-md-5 text-right">
									<?=getTopBtn($menu_info['id'],I('pid'))?>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<table
										class="table table-bordered table-striped dataTable text-center"
										role="grid" aria-describedby="example2_info">
										<thead>
											<tr role="row">
												<th class="sorting_asc" tabindex="0"
													aria-controls="example2" rowspan="1" colspan="1"
													aria-sort="ascending"
													aria-label="Rendering engine: activate to sort column descending"
													style="width: 3%"><label><input
														type="checkbox" class="js_check_all" name="ids[]"
														value="<?=$row['id']?>"></label></th>
												<th class="sorting" tabindex="0" aria-controls="example2"
													rowspan="1" colspan="1"
													aria-label="Browser: activate to sort column ascending"
													style="text-align: left;">标题</th>
												<?php if(I('pid')){ ?>
												<th class="sorting" tabindex="0" aria-controls="example2"
													rowspan="1" colspan="1"
													aria-label="Platform(s): activate to sort column ascending">所属组</th>
												<th class="sorting" tabindex="0" aria-controls="example2"
													rowspan="1" colspan="1"
													aria-label="Engine version: activate to sort column ascending"
													style="width: 20%">链接</th>
												<?php } ?>
												<th class="sorting" tabindex="0" aria-controls="example2"
													rowspan="1" colspan="1"
													aria-label="Platform(s): activate to sort column ascending"
													style="width: 30%">备注</th>
												<th class="sorting" tabindex="0" aria-controls="example2"
													rowspan="1" colspan="1"
													aria-label="Engine version: activate to sort column ascending">排序</th>
												<th class="sorting" tabindex="0" aria-controls="example2"
													rowspan="1" colspan="1"
													aria-label="CSS grade: activate to sort column ascending"
													style="width: 5%">状态</th>
												<th class="sorting" tabindex="0" aria-controls="example2"
													rowspan="1" colspan="1"
													aria-label="CSS grade: activate to sort column ascending">操作</th>
											</tr>
										</thead>
										<tbody class="text-center">
											<?php
												foreach($result as $row){
											?>
											<tr>
												<td><label><input type="checkbox" class="ids"
														name="ids[]" value="<?=$row['id']?>"></label></td>
												<td style="text-align: left;">
													<?php
														if($row['level'] == 3){
															echo $row['title'];
														}else{
													?>
														<a href="<?=U('index',array('pid'=>$row['id']))?>"><?=$row['title']?></a>
													<?php
														}
													?>
												</td>
												<?php if($row['level']>0){ ?>
												<td>
													<?=$row['groups']?>
												</td>
												<td style="text-align: left;">
													<?=$row['url']?>
												</td>
												<?php } ?>
												<td>
													<?=$row['description']?>
												</td>
												<td>
													<?=$row['sort']?>
												</td>
												<td>
													<?=$row['status_text']?>
												</td>
												<td>
													<?php
														$unique_url=array(
															'status'=>array(
																'0'=>U("enable"),
																'1'=>U("disable"),
															)
														);
														$url=array();
														$url[]=$unique_url['status'][$row['status']];
														getListBtn($menu_info['id'],$row['id'],$url,I('pid'));
														getListBtn($menu_info['id'],$row['id'],$unique_url,I('pid'),false);
													?>
												</td>
											</tr>
											<?php
												}
											?>
										</tbody>
									</table>
								</div>
							</div>
							<div class="pages">
								<?=$page?>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
	</section>
	<!-- /.content -->
</div>
</block>