<extend name="Public/body"/>
<block name="style">
	<css href="__CSS__/index.css"/>
	<css href="__CSS__/browse.css"/>
	<css href="__PLUGIN__/popover/dist/jquery.webui-popover.min.css"/>
</block>
<block name="body">
	<include file="Public/browse_nav" />
	<!-- 主体部分 S-->
	<div class="main label_delmain del2">
		<div class="container">
			<div class="clearfix">
				<div class="tab_top_box">
					<div class="title clearfix">
						<h4 class="pull-left"><i class="iconfont">&#xe615;</i> 摄影</h4>
						<div class="btn-group pull-right">
						  <a href="<?=U('details')?>" type="button" class="btn btn-default btn_tab1">
						  	  <i class="iconfont">&#xe65a;</i>
						  </a>
						  <a href="<?=U('details2')?>" type="button" class="btn btn-default btn_tab2 active">
						  	  <i class="iconfont">&#xe659;</i>
						  </a>
						</div>
					</div>
					<div class="down">
						<a href="#" class="active">最新</a>
						<a href="#">色彩</a>
						<a href="#">榜单</a>
					</div>
				</div>
			</div>

			<div class="row label_group clearfix">
				<div class="con_box col-lg-3">
					<div class="label_conetent">
						<a href="#" class="label_img">
							<img src="__IMG__/label-img2.jpg" class="img-responsive" alt="">
							<span class="mask"></span>
						</a>
						<div class="user_info clearfix">
							<a href="#" class="user_img pull-left">
								<img src="__IMG__/user_image1.jpg" class="img-responsive" alt="">
							</a>
							<a href="#" class="user_name pull-left">叁玖莲生Ken.</a>
						</div>
					</div>
				</div>
				<div class="con_box col-lg-3">
					<div class="label_conetent">
						<a href="#" class="label_img">
							<img src="__IMG__/label-img3.jpg" class="img-responsive" alt="">
							<span class="mask"></span>
						</a>
						<div class="user_info clearfix">
							<a href="#" class="user_img pull-left">
								<img src="__IMG__/user_image2.jpg" class="img-responsive" alt="">
							</a>
							<a href="#" class="user_name pull-left">叁玖莲生Ken.</a>
						</div>
					</div>
				</div>
				<div class="con_box col-lg-3">
					<div class="label_conetent">
						<a href="#" class="label_img">
							<img src="__IMG__/label-img2.jpg" class="img-responsive" alt="">
							<span class="mask"></span>
						</a>
						<div class="user_info clearfix">
							<a href="#" class="user_img pull-left">
								<img src="__IMG__/user_image3.jpg" class="img-responsive" alt="">
							</a>
							<a href="#" class="user_name pull-left">叁玖莲生Ken.</a>
						</div>
					</div>
				</div>
				<div class="con_box col-lg-3">
					<div class="label_conetent">
						<a href="#" class="label_img">
							<img src="__IMG__/label-img3.jpg" class="img-responsive" alt="">
							<span class="mask"></span>
						</a>
						<div class="user_info clearfix">
							<a href="#" class="user_img pull-left">
								<img src="__IMG__/user_image4.jpg" class="img-responsive" alt="">
							</a>
							<a href="#" class="user_name pull-left">叁玖莲生Ken.</a>
						</div>
					</div>
				</div>

				<div class="con_box col-lg-3">
					<div class="label_conetent">
						<a href="#" class="label_img">
							<img src="__IMG__/label-img2.jpg" class="img-responsive" alt="">
							<span class="mask"></span>
						</a>
						<div class="user_info clearfix">
							<a href="#" class="user_img pull-left">
								<img src="__IMG__/user_image1.jpg" class="img-responsive" alt="">
							</a>
							<a href="#" class="user_name pull-left">叁玖莲生Ken.</a>
						</div>
					</div>
				</div>
				<div class="con_box col-lg-3">
					<div class="label_conetent">
						<a href="#" class="label_img">
							<img src="__IMG__/label-img3.jpg" class="img-responsive" alt="">
							<span class="mask"></span>
						</a>
						<div class="user_info clearfix">
							<a href="#" class="user_img pull-left">
								<img src="__IMG__/user_image2.jpg" class="img-responsive" alt="">
							</a>
							<a href="#" class="user_name pull-left">叁玖莲生Ken.</a>
						</div>
					</div>
				</div>
				<div class="con_box col-lg-3">
					<div class="label_conetent">
						<a href="#" class="label_img">
							<img src="__IMG__/label-img2.jpg" class="img-responsive" alt="">
							<span class="mask"></span>
						</a>
						<div class="user_info clearfix">
							<a href="#" class="user_img pull-left">
								<img src="__IMG__/user_image3.jpg" class="img-responsive" alt="">
							</a>
							<a href="#" class="user_name pull-left">叁玖莲生Ken.</a>
						</div>
					</div>
				</div>
				<div class="con_box col-lg-3">
					<div class="label_conetent">
						<a href="#" class="label_img">
							<img src="__IMG__/label-img3.jpg" class="img-responsive" alt="">
							<span class="mask"></span>
						</a>
						<div class="user_info clearfix">
							<a href="#" class="user_img pull-left">
								<img src="__IMG__/user_image4.jpg" class="img-responsive" alt="">
							</a>
							<a href="#" class="user_name pull-left">叁玖莲生Ken.</a>
						</div>
					</div>
				</div>

				<div class="con_box col-lg-3">
					<div class="label_conetent">
						<a href="#" class="label_img">
							<img src="__IMG__/label-img2.jpg" class="img-responsive" alt="">
							<span class="mask"></span>
						</a>
						<div class="user_info clearfix">
							<a href="#" class="user_img pull-left">
								<img src="__IMG__/user_image1.jpg" class="img-responsive" alt="">
							</a>
							<a href="#" class="user_name pull-left">叁玖莲生Ken.</a>
						</div>
					</div>
				</div>
				<div class="con_box col-lg-3">
					<div class="label_conetent">
						<a href="#" class="label_img">
							<img src="__IMG__/label-img3.jpg" class="img-responsive" alt="">
							<span class="mask"></span>
						</a>
						<div class="user_info clearfix">
							<a href="#" class="user_img pull-left">
								<img src="__IMG__/user_image2.jpg" class="img-responsive" alt="">
							</a>
							<a href="#" class="user_name pull-left">叁玖莲生Ken.</a>
						</div>
					</div>
				</div>
				<div class="con_box col-lg-3">
					<div class="label_conetent">
						<a href="#" class="label_img">
							<img src="__IMG__/label-img2.jpg" class="img-responsive" alt="">
							<span class="mask"></span>
						</a>
						<div class="user_info clearfix">
							<a href="#" class="user_img pull-left">
								<img src="__IMG__/user_image3.jpg" class="img-responsive" alt="">
							</a>
							<a href="#" class="user_name pull-left">叁玖莲生Ken.</a>
						</div>
					</div>
				</div>
				<div class="con_box col-lg-3">
					<div class="label_conetent">
						<a href="#" class="label_img">
							<img src="__IMG__/label-img3.jpg" class="img-responsive" alt="">
							<span class="mask"></span>
						</a>
						<div class="user_info clearfix">
							<a href="#" class="user_img pull-left">
								<img src="__IMG__/user_image4.jpg" class="img-responsive" alt="">
							</a>
							<a href="#" class="user_name pull-left">叁玖莲生Ken.</a>
						</div>
					</div>
				</div>

				<div class="con_box col-lg-3">
					<div class="label_conetent">
						<a href="#" class="label_img">
							<img src="__IMG__/label-img2.jpg" class="img-responsive" alt="">
							<span class="mask"></span>
						</a>
						<div class="user_info clearfix">
							<a href="#" class="user_img pull-left">
								<img src="__IMG__/user_image1.jpg" class="img-responsive" alt="">
							</a>
							<a href="#" class="user_name pull-left">叁玖莲生Ken.</a>
						</div>
					</div>
				</div>
				<div class="con_box col-lg-3">
					<div class="label_conetent">
						<a href="#" class="label_img">
							<img src="__IMG__/label-img3.jpg" class="img-responsive" alt="">
							<span class="mask"></span>
						</a>
						<div class="user_info clearfix">
							<a href="#" class="user_img pull-left">
								<img src="__IMG__/user_image2.jpg" class="img-responsive" alt="">
							</a>
							<a href="#" class="user_name pull-left">叁玖莲生Ken.</a>
						</div>
					</div>
				</div>
				<div class="con_box col-lg-3">
					<div class="label_conetent">
						<a href="#" class="label_img">
							<img src="__IMG__/label-img2.jpg" class="img-responsive" alt="">
							<span class="mask"></span>
						</a>
						<div class="user_info clearfix">
							<a href="#" class="user_img pull-left">
								<img src="__IMG__/user_image3.jpg" class="img-responsive" alt="">
							</a>
							<a href="#" class="user_name pull-left">叁玖莲生Ken.</a>
						</div>
					</div>
				</div>
				<div class="con_box col-lg-3">
					<div class="label_conetent">
						<a href="#" class="label_img">
							<img src="__IMG__/label-img3.jpg" class="img-responsive" alt="">
							<span class="mask"></span>
						</a>
						<div class="user_info clearfix">
							<a href="#" class="user_img pull-left">
								<img src="__IMG__/user_image4.jpg" class="img-responsive" alt="">
							</a>
							<a href="#" class="user_name pull-left">叁玖莲生Ken.</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 主体部分 S-->
	<div class="loading_box"><i class="iconfont">&#xe61a;</i>正在加载</div>
</block>
<block name="script">
	<js href="__PLUGIN__/popover/dist/jquery.webui-popover.min.js"/>
	<js href="__JS__/common.js"/>
</block>