<extend name="Public/body"/>
<block name="style">
	<css href="__CSS__/browse.css"/>
	<css href="__PLUGIN__/popover/dist/jquery.webui-popover.min.css"/>
</block>
<block name="body">
	<include file="Public/browse_nav" />
	<!-- 标签页主体 S-->
	<div class="label_main">
		<div class="container">
			<div class="img_group clearfix">
				<div class="col-lg-3">
					<div class="img_conbox">
						<a href="<?=('details')?>">
							<img src="__IMG__/label-img1.jpg" class="img-responsive" alt="">
							<span class="img_label">胶片</span>
							<div class="img_mask">
								<span>胶片</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="img_conbox">
						<a href="<?=('details')?>">
							<img src="__IMG__/label-img1.jpg" class="img-responsive" alt="">
							<span class="img_label">胶片</span>
							<div class="img_mask">
								<span>胶片</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="img_conbox">
						<a href="<?=('details')?>">
							<img src="__IMG__/label-img1.jpg" class="img-responsive" alt="">
							<span class="img_label">胶片</span>
							<div class="img_mask">
								<span>胶片</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="img_conbox">
						<a href="<?=('details')?>">
							<img src="__IMG__/label-img1.jpg" class="img-responsive" alt="">
							<span class="img_label">胶片</span>
							<div class="img_mask">
								<span>胶片</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="img_conbox">
						<a href="<?=('details')?>">
							<img src="__IMG__/label-img1.jpg" class="img-responsive" alt="">
							<span class="img_label">胶片</span>
							<div class="img_mask">
								<span>胶片</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="img_conbox">
						<a href="<?=('details')?>">
							<img src="__IMG__/label-img1.jpg" class="img-responsive" alt="">
							<span class="img_label">胶片</span>
							<div class="img_mask">
								<span>胶片</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="img_conbox">
						<a href="<?=('details')?>">
							<img src="__IMG__/label-img1.jpg" class="img-responsive" alt="">
							<span class="img_label">胶片</span>
							<div class="img_mask">
								<span>胶片</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="img_conbox">
						<a href="<?=('details')?>">
							<img src="__IMG__/label-img1.jpg" class="img-responsive" alt="">
							<span class="img_label">胶片</span>
							<div class="img_mask">
								<span>胶片</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="img_conbox">
						<a href="<?=('details')?>">
							<img src="__IMG__/label-img1.jpg" class="img-responsive" alt="">
							<span class="img_label">胶片</span>
							<div class="img_mask">
								<span>胶片</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="img_conbox">
						<a href="<?=('details')?>">
							<img src="__IMG__/label-img1.jpg" class="img-responsive" alt="">
							<span class="img_label">胶片</span>
							<div class="img_mask">
								<span>胶片</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="img_conbox">
						<a href="<?=('details')?>">
							<img src="__IMG__/label-img1.jpg" class="img-responsive" alt="">
							<span class="img_label">胶片</span>
							<div class="img_mask">
								<span>胶片</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="img_conbox">
						<a href="<?=('details')?>">
							<img src="__IMG__/label-img1.jpg" class="img-responsive" alt="">
							<span class="img_label">胶片</span>
							<div class="img_mask">
								<span>胶片</span>
							</div>
						</a>
					</div>
				</div>
			</div><!-- div.img_group -->
			<ul class="huoy_list">
				<li class="clearfix">
					<div class="col-lg-6 label_name_title">
						推荐标签
					</div>
					<div class="col-lg-2">
						<a href="javascript:;">活跃度 <span class="caret"></span></a>
					</div>
					<div class="col-lg-2">
						最新更新
					</div>
					<div class="col-lg-2">
						资深用户
					</div>
				</li>
				<li class="clearfix">
					<div class="col-lg-6 label_name">
						<a href="#" class="js_Personame" data-url="<?=U('Home/Index/about')?>" data-placement="top-right">插画</a>
					</div>
					<div class="col-lg-2">
						<div class="huoyd">
							<span class="y1">
								<b style="height:100%">
									<i>2016.4.15</i>
								</b>
							</span>
							<span class="y2">
								<b style="height:100%">
									<i>2016.4.16</i>
								</b>
							</span>
							<span class="y3">
								<b style="height:100%">
									<i>2016.4.17</i>
								</b>
							</span>
							<span class="y4">
								<b style="height:100%">
									<i>2016.4.18</i>
								</b>
							</span>
							<span class="y5">
								<b style="height:65%">
									<i>2016.4.19</i>
								</b>
							</span>
						</div>
					</div>
					<div class="col-lg-2 new_upset">
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-left user_img js_Personame" show-pop-delay>
							<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
						</a>
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-right user_name js_Personame">
							毛克利
						</a>
					</div>
					<div class="col-lg-2 old_user">
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-left user_img js_Personame">
							<img src="__IMG__/user-img5.jpg" class="img-responsive" alt="">
						</a>
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-right user_name js_Personame">
							ljjchen29
						</a>
					</div>
				</li>

				<li class="clearfix">
					<div class="col-lg-6 label_name">
						<a href="#" class="js_Personame" data-url="<?=U('Home/Index/about')?>" data-placement="top-right">胶片</a>
					</div>
					<div class="col-lg-2">
						<div class="huoyd">
							<span class="y1">
								<b style="height:100%">
									<i>2016.4.15</i>
								</b>
							</span>
							<span class="y2">
								<b style="height:100%">
									<i>2016.4.16</i>
								</b>
							</span>
							<span class="y3">
								<b style="height:80%">
									<i>2016.4.17</i>
								</b>
							</span>
							<span class="y4">
								<b style="height:100%">
									<i>2016.4.18</i>
								</b>
							</span>
							<span class="y5">
								<b style="height:70%">
									<i>2016.4.19</i>
								</b>
							</span>
						</div>
					</div>
					<div class="col-lg-2 new_upset">
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-left user_img js_Personame">
							<img src="__IMG__/user-img2.jpg" class="img-responsive" alt="">
						</a>
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-right user_name js_Personame">
							尼莫
						</a>
					</div>
					<div class="col-lg-2 old_user">
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-left user_img js_Personame">
							<img src="__IMG__/user-img3.jpg" class="img-responsive" alt="">
						</a>
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-right user_name js_Personame">
							每日穿搭小图
						</a>
					</div>
				</li>
					
				<li class="clearfix">
					<div class="col-lg-6 label_name">
						<a href="#" class="js_Personame" data-url="<?=U('Home/Index/about')?>" data-placement="top-right">插画</a>
					</div>
					<div class="col-lg-2">
						<div class="huoyd">
							<span class="y1">
								<b style="height:100%">
									<i>2016.4.15</i>
								</b>
							</span>
							<span class="y2">
								<b style="height:100%">
									<i>2016.4.16</i>
								</b>
							</span>
							<span class="y3">
								<b style="height:100%">
									<i>2016.4.17</i>
								</b>
							</span>
							<span class="y4">
								<b style="height:100%">
									<i>2016.4.18</i>
								</b>
							</span>
							<span class="y5">
								<b style="height:65%">
									<i>2016.4.19</i>
								</b>
							</span>
						</div>
					</div>
					<div class="col-lg-2 new_upset">
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-left user_img js_Personame">
							<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
						</a>
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-right user_name js_Personame">
							毛克利
						</a>
					</div>
					<div class="col-lg-2 old_user">
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-left user_img js_Personame">
							<img src="__IMG__/user-img5.jpg" class="img-responsive" alt="">
						</a>
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-right user_name js_Personame">
							ljjchen29
						</a>
					</div>
				</li>

				<li class="clearfix">
					<div class="col-lg-6 label_name">
						<a href="#" class="js_Personame" data-url="<?=U('Home/Index/about')?>" data-placement="top-right">原画</a>
					</div>
					<div class="col-lg-2">
						<div class="huoyd">
							<span class="y1">
								<b style="height:100%">
									<i>2016.4.15</i>
								</b>
							</span>
							<span class="y2">
								<b style="height:100%">
									<i>2016.4.16</i>
								</b>
							</span>
							<span class="y3">
								<b style="height:80%">
									<i>2016.4.17</i>
								</b>
							</span>
							<span class="y4">
								<b style="height:100%">
									<i>2016.4.18</i>
								</b>
							</span>
							<span class="y5">
								<b style="height:70%">
									<i>2016.4.19</i>
								</b>
							</span>
						</div>
					</div>
					<div class="col-lg-2 new_upset">
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-left user_img js_Personame">
							<img src="__IMG__/user-img2.jpg" class="img-responsive" alt="">
						</a>
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-right user_name js_Personame">
							尼莫
						</a>
					</div>
					<div class="col-lg-2 old_user">
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-left user_img js_Personame">
							<img src="__IMG__/user-img3.jpg" class="img-responsive" alt="">
						</a>
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-right user_name js_Personame">
							每日穿搭小图
						</a>
					</div>
				</li>

				<li class="clearfix">
					<div class="col-lg-6 label_name">
						<a href="#" class="js_Personame" data-url="<?=U('Home/Index/about')?>" data-placement="top-right">胶片</a>
					</div>
					<div class="col-lg-2">
						<div class="huoyd">
							<span class="y1">
								<b style="height:100%">
									<i>2016.4.15</i>
								</b>
							</span>
							<span class="y2">
								<b style="height:100%">
									<i>2016.4.16</i>
								</b>
							</span>
							<span class="y3">
								<b style="height:100%">
									<i>2016.4.17</i>
								</b>
							</span>
							<span class="y4">
								<b style="height:100%">
									<i>2016.4.18</i>
								</b>
							</span>
							<span class="y5">
								<b style="height:65%">
									<i>2016.4.19</i>
								</b>
							</span>
						</div>
					</div>
					<div class="col-lg-2 new_upset">
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-left user_img js_Personame">
							<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
						</a>
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-right user_name js_Personame">
							毛克利
						</a>
					</div>
					<div class="col-lg-2 old_user">
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-left user_img js_Personame">
							<img src="__IMG__/user-img5.jpg" class="img-responsive" alt="">
						</a>
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-right user_name js_Personame">
							ljjchen29
						</a>
					</div>
				</li>

				<li class="clearfix">
					<div class="col-lg-6 label_name">
						<a href="#" class="js_Personame" data-url="<?=U('Home/Index/about')?>" data-placement="top-right">时尚</a>
					</div>
					<div class="col-lg-2">
						<div class="huoyd">
							<span class="y1">
								<b style="height:100%">
									<i>2016.4.15</i>
								</b>
							</span>
							<span class="y2">
								<b style="height:100%">
									<i>2016.4.16</i>
								</b>
							</span>
							<span class="y3">
								<b style="height:80%">
									<i>2016.4.17</i>
								</b>
							</span>
							<span class="y4">
								<b style="height:100%">
									<i>2016.4.18</i>
								</b>
							</span>
							<span class="y5">
								<b style="height:70%">
									<i>2016.4.19</i>
								</b>
							</span>
						</div>
					</div>
					<div class="col-lg-2 new_upset">
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-left user_img js_Personame">
							<img src="__IMG__/user-img2.jpg" class="img-responsive" alt="">
						</a>
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-right user_name js_Personame">
							尼莫
						</a>
					</div>
					<div class="col-lg-2 old_user">
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-left user_img js_Personame">
							<img src="__IMG__/user-img3.jpg" class="img-responsive" alt="">
						</a>
						<a href="#" data-url="<?=U('Home/Index/about')?>" data-placement="top" class="pull-right user_name js_Personame">
							每日穿搭小图
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- 标签页主体 E-->
</block>
<block name="script">
	<js href="__PLUGIN__/popover/dist/jquery.webui-popover.min.js"/>
	<js href="__JS__/common.js"/>
</block>