<div class="label_content" id="labelContent">
	<div class="label_title clearfix">
		<div class="label_img">
			<a href="#">
				<img src="__IMG__/user-img6.jpg" class="img-responsive" alt="">
			</a>
		</div>
		<div class="label_txt pull-left">
			<p>科技达人赵</p>
			<p class="label_group">
				<a href="#">文章6</a>
				<a href="#">喜欢5</a>
				<a href="#">关注19</a>
			</p>
		</div>
		<div class="attention pull-right clearfix">
			<div class="pull-left dropdown">
				<a href="#" data-toggle="dropdown" style="color:#9cdbfc">
					<i class="iconfont" >&#xe617;</i>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu b_menu">
					<li><a href="#">私信</a></li>
					<li><a href="#" data-toggle="modal" data-target="#addBlackModal">拉黑</a></li>
				</ul>
			</div>
			<a href="javascript:;" class="btn btn-default btn-sm pull-left attention_btn">
				<i class="iconfont">&#xe618;</i>
				关注
			</a>
		</div>
	</div>
	<div class="label_content clearfix">
		<ul class="img_list clearfix">
			<li><a href="#" style="background-image:url('__IMG__/imglist1.jpg')"></a></li>
			<li><a href="#" style="background-image:url('__IMG__/imglist2.jpg')"></a></li>
			<li><a href="#" style="background-image:url('__IMG__/imglist3.jpg')"></a></li>
		</ul>
	</div>
	<div class="more_people">
		<p>更多相似达人：<a href="#">Moe-phx</a>、<a href="#">蓝色</a></p>
	</div>
</div>