<extend name="Public/body"/>
<block name="style">
	<css href="__CSS__/ucenter.css"/>
</block>
<block name="body">
	<div class="top_btngroup text-right">
		<a href="<?=U('setup')?>" class="btn utop_btn">
			<i class="iconfont">&#xe60e;</i> 主页设置
		</a>
		<a href="<?=U('Home/Index/index')?>" class="btn utop_btn">
			<i class="iconfont">&#xe655;</i> 返回首页
		</a>
	</div>
	<div class="ucenter_main">
		<div class="u_container">
			<div class="uinfo_bar clearfix">
				<div class="u_img pull-left">
					<img src="__IMG__/User/u_img.jpg" class="img-responsive" alt="">
				</div>
				<div class="u_info pull-left">
					<form class="navbar-form navbar-right mySearchBar" role="search">
			        <div class="form-group">
			          <div class="input-group">
			          	  <button class="btn btn-sm btn_faj"><i class="iconfont">&#xe605;</i></button>
				          <input type="text" class="search_input js_search_input" data-url="<?=U('getSearch')?>" placeholder="搜索">
				       </div>
				       <div></div>
			        </div>
			        </form>
					<p class="u_name">ljjchen29</p>
					<p class="u_word">要有最遥远的梦想和最朴素的生活，即使明日天寒地冻，路远马亡。浪迹天涯的孩子，祝你有梦可栖，有枝可依。</p>
					<ul class="label_bar js_label_bar clearfix">
						<li><a href="#">私信</a></li>
						<li><a href="#">归档</a></li>
						<li><a href="#">开源科技</a></li>
						<li><a href="#">手账</a></li>
						<li><a href="#">我的官网</a></li>
						<li><a href="#">我的官网</a></li>
						<li><a href="#">我的官网</a></li>
						<li><a href="#">我的官网</a></li>
						<a href="javascript:;" class="btn open_btn js_open_btn">展开 <i class="iconfont">&#xe619;</i></a>
					</ul>
				</div>
			</div>

			<div class="u_content">
				<div class="u_conbox clearfix">
					<div class="u_date pull-left">
						<div class="u_date_md">
							<div class="day">25</div>
							<div class="month">JUN</div>
						</div>
						<div class="u_data_y">
							2016
						</div>
					</div>
					<div class="u_blog reproduced pull-right">
						<div class="u_blog_img">
							<img src="__IMG__/User/u_blog_img1.jpg" alt="">
						</div>
						<div class="u_blog_txt">
							<p><a href="#" data-url="<?=U('Home/Index/about')?>" class="username js_Personame">旅行精选：</a></p>
							<blockquote class="text-justify u_txt_block">
								<p>一路向西，漫行青海</p>
								<p>我在星空下已诉说千遍，只愿在日出时与你再相见。</p>
								<p>雄踞“世界屋脊”的青海省是个神秘而诱人的地方，青海的最佳旅游时间是短暂的夏季，即5～9月，冰消雪融，高原进入生机勃勃的时期。7月是青海的最热月，本人就是7月去的，虽是夏季但高原温差很大，特别是夜里看星空和早起看日出一定得做好保暖措施。</p>
								<p>7月万亩油菜花在青海湖畔灿烂盛开，青海湖也呈现出最五彩缤纷的美态。此外位于湖西岸的黑马河正是观看星空和青海湖日出的最佳地点之一。</p>
								<p>门源的油菜花在雪山下绵延几十公里，极富震撼力，铺天盖地的都是金黄色。</p>
								<p>日月山东侧阡陌良田，一派塞上江南风光；西侧草原辽阔，牛羊成群，是一幅塞外景色。</p>
								<p>茶卡盐湖是柴达木盆地有名的天然结晶盐湖，中国的“天空之镜”，可以赤脚走到湖面上观看和拍摄自己的倒影，如果是晴天的话夜里湖面还能映出星空的倒影。</p>
								<p>无论摄影还是旅游，青海都是一个值得一去的地方。</p>
							</blockquote>
						</div>
						<div class="u_blog_foot clearfix">
							<div class="label_box pull-left">
								<i class="iconfont">&#xe615;</i>
								<a href="javascript:;">生活</a>
								<a href="javascript:;">旅行</a>
								<a href="javascript:;">摄影</a>
							</div>
							<div class="blogtools_bar pull-right">
								<span>
									转载自：
									<a href="javascript:;">旅行精选</a>
								</span>
								<a href="javascript:;" class="ja_abtn hot_btn">热度(<span class="num">19</span>)</a>	
								<a href="javascript:;" class="ja_abtn"><i class="iconfont">&#xe612;</i> 评论(2)</a>
								<a href="javascript:;" style="color:#498cc5;">全文链接></a>
							</div>
						</div>
						<div class="divide_line"></div>
					</div><!-- div.u_blog -->
				</div><!-- div.u_conbox -->

				<div class="u_conbox clearfix">
					<div class="u_date pull-left">
						<div class="u_date_md">
							<div class="day">19</div>
							<div class="month">JUN</div>
						</div>
						<div class="u_data_y">
							2016
						</div>
					</div>
					<div class="u_blog pull-right">
						<div class="u_blog_txt">
							<blockquote class="text-justify u_txt_block">
								<p style="text-indent:2em">最近和一个关系不错的朋友聊天，不知道为什么人只有站在状态外似乎才能懂得很多自己以前困惑很久的问题，每对分开的恋人都会在最后饱含真情地对对方说：“祝你幸福。”而事实上呢？对于不同的人而言幸福是不一样的，如果他爱你，愿意和你在一起，而最后未能如常所愿，那么即便她锦衣玉食也不会快乐。爱情也许不需要策马奔腾的轰轰烈烈，也不需要天上人间的你侬我侬，爱情和幸福一样是陪伴。就像那句很流行的话：“我所希望的幸福是每天睁开眼，你和阳光同在。”</p>
								<br>
								<p style="text-indent:2em">人们常常爱对难以拥有的东西抱以幻想，好想下一秒就能遇见自己内心渴望的东西，后来又会因为得不到，而决定不再相信。曾经有人问我：“幸福是什么？”那个时候因为比较向往文艺，连说句话也会文绉绉的，感觉自己的人生就像一本书，结局怎样都不要紧，只要章节美丽，辞藻华丽，结局你让我怎么哭都行。所以那个时候一直觉得“幸福就是找个温暖的人过一辈子。”</p>
								<br>
								<p style="text-indent:2em">年轻的时候我们喜欢偶像剧可能并不是因为男主多帅，而是可能因为曾经的某一个时刻我们也期待这样的爱情出现，每个女孩或许都希望自己能像公主一样被宠爱着，不为别的，只为我们自认为比起男生我们更专注爱情。后来见多身边人分分合合，也过了用耳朵听爱情的年纪，渐渐地觉得所谓的幸福可能不需要走在大街上系鞋带，也不需要像优乐美一样被捧在手心，也不需要穿越几座城市只为看一场烟花，幸福就是“一张桌子，三张板凳，四副碗筷。”</p>
							</blockquote>
						</div>
						<div class="u_blog_foot clearfix">
							<div class="blogtools_bar pull-right">
								<a href="javascript:;" class="ja_abtn hot_btn">热度(<span class="num">19</span>)</a>	
								<a href="javascript:;" class="ja_abtn"><i class="iconfont">&#xe612;</i> 评论(2)</a>
								<a href="<?=U('detail')?>" style="color:#498cc5;">全文链接></a>
							</div>
						</div>
						<div class="divide_line"></div>
					</div><!-- div.u_blog -->
				</div><!-- div.u_conbox -->

				<div class="u_conbox clearfix">
					<div class="u_date pull-left">
						<div class="u_date_md">
							<div class="day">15</div>
							<div class="month">JUN</div>
						</div>
						<div class="u_data_y">
							2016
						</div>
					</div>
					<div class="u_blog pull-right">
						<div class="u_blog_img">
							<img src="__IMG__/User/u_blog_img2.jpg" alt="">
						</div>
						<div class="u_blog_txt">
							<blockquote class="text-justify u_txt_block">
								<p>如果不把创作记录下来</p>
								<p>灵感会是多么的孤独</p>
							</blockquote>
						</div>
						<div class="u_blog_foot clearfix">
							<div class="blogtools_bar pull-right">
								<a href="javascript:;" class="ja_abtn hot_btn">热度(<span class="num">19</span>)</a>	
								<a href="javascript:;" class="ja_abtn"><i class="iconfont">&#xe612;</i> 评论(2)</a>
								<a href="<?=U('detail')?>" style="color:#498cc5;">全文链接></a>
							</div>
						</div>
						<div class="divide_line"></div>
					</div><!-- div.u_blog -->
				</div><!-- div.u_conbox -->
			</div>
		</div>
	</div>
	<include file="Public/footer"/>
	
</block>
<block name="script">
	<js href="__PLUGIN__/popover/dist/jquery.webui-popover.min.js"/>
	<js href="__JS__/common.js"/>
	<script>
	$(function(){
		var labelLen = $('.js_label_bar>li').length;
		if (labelLen>7){
			$('.js_label_bar').addClass('out_labelbar');
		};

		$('.js_open_btn').click(function(){
			$(this).toggleClass('open');
			$('.js_label_bar').toggleClass('open');
		});

	})
	</script>
</block>