<extend name="Home@Public/body"/>
<block name="style">
	<css href="__CSS__/index.css"/>
	<css href="__PLUGIN__/popover/dist/jquery.webui-popover.min.css"/>
</block>
<block name="body">
	<!-- 主体部分 S-->
	<div class="main">
		<div class="container">
			<div class="col-lg-9 clearfix">
				<div class="notice_content">
					<div class="title clearfix">
						<h4 class="pull-left">通知</h4>
						<div class="notice_nav pull-right">
							<a href="<?=U('User/Notice/index')?>" class="active">主页</a>
							<a href="<?=U('User/Notice/comment')?>">评论</a>
						</div>
					</div>
					<div class="content_body">
						<div class="con_box">
							<div class="date_tile">
								<span class="date">4月21日</span>
							</div>
							<div class="notice_list">
								<div class="con_item clearfix">
									<div class="user_img pull-left">
										<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
									</div>
									<div class="item_text pull-left">
										<a href="#" class="who">夢</a> 
										推荐了标签：
										<a href="#" class="what">重曝</a>
									</div>
								</div>
							</div>
						</div>
						<div class="con_box">
							<div class="date_tile">
								<span class="date">4月21日</span>
							</div>
							<div class="notice_list">
								<div class="con_item clearfix">
									<div class="user_img pull-left">
										<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
									</div>
									<div class="item_text pull-left">
										<a href="#" class="who">林夕凡</a> 
										从
										<a href="#" class="fromwho">Do</a> 
										转载了您的 
										<a href="#" class="what">文字：人生就像一条奔腾的河流...</a>
									</div>
									<div class="txt_icon pull-right">
										<i class="iconfont">&#xe65b;</i>
									</div>
								</div>
								<div class="con_item clearfix">
									<div class="user_img pull-left">
										<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
									</div>
									<div class="item_text pull-left">
										<a href="#" class="who">Do</a> 
										从
										<a href="#" class="fromwho">Do</a> 
										ljjchen29 
										<a href="#" class="what">文字：人生就像一条奔腾的河流...</a>
									</div>
									<div class="txt_icon pull-right">
										<i class="iconfont">&#xe65b;</i>
									</div>
								</div>
								<div class="con_item clearfix">
									<div class="user_img pull-left">
										<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
									</div>
									<div class="item_text pull-left">
										<a href="#" class="who">Do</a> 
										喜欢了您的
										<a href="#" class="what">文字：人生就像一条奔腾的河流...</a>
									</div>
									<div class="txt_icon pull-right">
										<i class="iconfont">&#xe65b;</i>
									</div>
								</div>
								<div class="con_item clearfix">
									<div class="user_img pull-left">
										<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
									</div>
									<div class="item_text pull-left">
										<a href="#" class="who">Do</a> 
										关注了
										<a href="#" class="attent_who">ljjchen29</a>
									</div>
									<div class="attent_whoimg pull-right">
										<img src="__IMG__/user-img5.jpg" class="img-responsive" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="user_info">
					<include file="Home@Public/sidebar"/>
				</div>
			</div>		
		</div>
	</div>
	<include file="Home@Public/footer"/>	
</block>