<extend name="Public/body" />
<block name="body"> <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 922px;">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<?=$page_title?>
			<small>
				<?=$small_title?>
			</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="<?=U('/Backend')?>"><i class="fa fa-dashboard"></i>
					首页</a></li>
			<li class="active">
				<?=$page_title?>
			</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-body">
						<div id="example2_wrapper"
							class="dataTables_wrapper form-inline dt-bootstrap">
							<div class="row">
								<div class="col-sm-6">
								</div>
								<div class="col-md-12 text-right">
									<?=getTopBtn($menu_info['id'],I('pid'))?>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
								<form class="operate_form" action="<?php echo U('add') ?>" method="post">
									<div class="box-body">
										<label>用户名</label>
										<p><input name="nickname" class="form-control" type="text" placeholder="请输入用户名" value="" ></p>
									</div>
									<div class="box-body">
										<label>密码</label>
										<p><input name="password" class="form-control" type="password" placeholder="请输入密码" value="" ></p>
									</div>
									<div class="box-body">
										<label>手机</label>
										<p><input name="mobile" class="form-control" type="text" placeholder="请输入手机号" value="" ></p>
									</div>
									<div class="box-body">
									<p><input class="btn btn-primary btn-sm ajax-post" target-form="operate_form" type="submit" value="提交"  /></p>
									</div>
								</form>
								</div>
							</div>
						</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
	</section>
	<!-- /.content -->
</div>
<script>
$(function(){
	var search = $('.searchs').val();
	if(search == ""){
		search = 'nickname';
	}
	$('.search option[value='+search+']').attr('selected',true);
})
</script>
</block>