<extend name="Public/body" />
<block name="body"> <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 922px;">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<?=$page_title?>
			<small>
				<?=$small_title?>
			</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="<?=U('/Backend')?>"><i class="fa fa-dashboard"></i>
					首页</a></li>
			<li class="active">
				<?=$page_title?>
			</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-body">
						<div id="example2_wrapper"
							class="dataTables_wrapper form-inline dt-bootstrap">
							<div class="row">
								<div class="col-sm-6">
								<form action="<?=U('label')?>" method="post">
									<input type="hidden" name="ids" value="<?php echo $id; ?>">
									<label><input type="search" class="form-control input-sm" placeholder="请输入标签名称" name="keywords" value="<?php echo $keywords; ?>" size="35" /></label>
									<label><input type="submit" class="btn btn-info btn-sm" value='搜索' /></label>
								</form>
								</div>
								<div class="col-md-12 text-right">
									<?=getTopBtn($menu_info['id'],I('pid'))?>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<table id="example2"
										class="table table-bordered table-striped dataTable text-center"
										role="grid" aria-describedby="example2_info">
										<thead>
											<tr role="row">
												<th class="sorting_asc" tabindex="0"
													aria-controls="example2" rowspan="1" colspan="1"
													aria-sort="ascending"
													aria-label="Rendering engine: activate to sort column descending "
													style="width: 3%"><label><input
														type="checkbox" class="js_check_all" value=""></label></th>
												<th class="sorting" tabindex="0" aria-controls="example2"
													rowspan="1" colspan="1"
													aria-label="Browser: activate to sort column ascending">id</th>
												<th class="sorting" tabindex="0" aria-controls="example2"
													rowspan="1" colspan="1"
													aria-label="Platform(s): activate to sort column ascending">标签名</th>
												<th class="sorting" tabindex="0" aria-controls="example2"
													rowspan="1" colspan="1"
													aria-label="CSS grade: activate to sort column ascending"
													style="width: 12%">操作</th>
											</tr>
										</thead>
										<tbody>
											<?php	foreach($result as $k=>$v):  ?>
											<tr>
												<td><label><input type="checkbox" class="ids"
														name="ids[]" value="<?php echo $v['id'] ?> "></label></td>
												<td><?php echo $v['id']; ?></td>
												<td><?php echo $v['name']; ?></td>
												<td>
												<?php if($v['is_hid'] == 0){ ?>
												<a class="btn btn-warning btn-xs ajax-get" href="/lightblog/code/Backend/Catelabel/Label/disable/ids/<?php echo $v['id'] ?>.html">禁用</a>
												<?php }else{ ?> 
												<a class="btn btn-info btn-xs ajax-get" href="/lightblog/code/Backend/Catelabel/Label/enable/ids/<?php echo $v['id'] ?>.html">启用</a>
												<?php } ?>
												<a class="btn btn-danger btn-xs ajax-get confirm" href="/lightblog/code/Backend/Catelabel/Label/del/ids/<?php echo $v['id'] ?>.html">删除</a>
												</td>
											</tr>
											<?php endforeach; ?>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
	</section>
	<!-- /.content -->
</div>
</block>