<div class="topbox clearfix">
					<div class="top_l"><i class="iconfont">&#xe626;</i><span>最新资讯</span></div>
					<a href="#" class="top_r"><i class="iconfont">&#xe612;</i><span>更多</span></a>
				</div>
				<div class="com_h newscontent">
					<ul>
						<li class="clearfix">
							<a href="#"><img data-original="__IMG__/news_01.jpg" width="117" height="100" src="__IMG__/grey.gif" alt="蓝牙耳机外形设计面临职能转型" /></a>
							<div class="news_message clearfix">
								<a href="#">
									<strong>蓝牙耳机外形设计面临职能转型</strong>
									<p>准备做一个旅游平台，想了好久也找了很多合作伙伴,在国内找了很多家也没有找合适....</p>
								</a>
							</div>
							<ul class="other clearfix">
								<li>张协远</li>
								<li>2015-09-17</li>
								<li>阅读(151)</li>
							</ul>
						</li>
						<li class="clearfix">
							<a href="#"><img data-original="__IMG__/news_02.jpg" width="117" height="100" src="__IMG__/grey.gif" alt="蓝牙耳机外形设计面临职能转型" /></a>
							<div class="news_message clearfix">
								<a href="#">
									<strong>蓝牙耳机外形设计面临职能转型</strong>
									<p>准备做一个旅游平台，想了好久也找了很多合作伙伴,在国内找了很多家也没有找合适我这个项目.....</p>
								</a>
							</div>
							<ul class="other clearfix">
								<li>张协远</li>
								<li>2015-09-17</li>
								<li>阅读(151)</li>
							</ul>
						</li>
					</ul>
				</div>