		<div class="main_top clearfix">
			<div class="main_title pull-left">
				<i class="iconfont">&#xe60f;</i>
				<span>热销产品</span>
			</div>
			<div class="more pull-right">
				<a href="#">查看更多 ></a>
			</div>
		</div>
		<div class="main_con">
			<ul class="clearfix">
				<li>
					<div class="imgbox">
						<a href="#" class="img" ><img data-original="__IMG__/product_01.jpg" width="220" height="158" src="__IMG__/grey.gif" alt="飞利浦电饭锅" /></a>
					</div>
					<div class="descbox">
						<ul class="product_data clearfix">
							<li class="price pull-left">￥10000</li>
							<li class="laud pull-right"><i class="iconfont">&#xe627;</i>500</li>
						</ul>
						<a href="#" class="pruduct_name">飞利浦电饭锅</a>
						<div class="percent">
							<span style="width:80%"></span>
						</div>
						<div class="message ellipsis">
							<ul class="clearfix">
								<li><strong>80%</strong><span>达成率</span></li>
								<li><strong>500</strong><span>参与人数</span></li>
								<li><strong>2</strong><span>天数</span></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>