<div class="main_top clearfix">
			<div class="main_title pull-left">
				<i class="iconfont">&#xe615;</i>
				<span>秀吧推荐</span>
			</div>
			<div class="change pull-right"><i class="iconfont">&#xe629;</i>
			<span class="load_check" style="background-image:url(__IMG__/change.gif); "></span>换一换</div>
		</div>
		<div class="main_con">
			<ul class="clearfix js_show">
				<li class="showbox">
					<div class="show_imgbox">
						<a href="#" class="img"><img data-original="__IMG__/show_01.jpg" width="220" height="202" src="__IMG__/grey.gif" alt="折叠车外形设计" />
					</div>
					<div class="descbox">
						<a href="#" class="casename">折叠车外形设计</a>
						<a href="#" class="casedesc">
							<strong>方案描述：</strong>
							<span>一般折叠车有车架折叠关节和立管折叠关节构成。通过车架折叠将前后两轮......</span>
						</a>
						<ul class="viewbox clearfix">
							<li class="view pull-left">
								<div><i class="iconfont">&#xe613;</i>浏览<span>52</span></div>
							</li>
							<li class="laud pull-right">
								<div><i class="iconfont">&#xe627;</i>已赞<span>598</span></div>
							</li>
						</ul>
					</div>
					<ul class="author clearfix">
						<li class="photo" style="background-image:url(__IMG__/photo_01.jpg)"></li>
						<li class="content">
							<strong>JUDY</strong><span>工业设计作品</span>
						</li>
					</ul>
				</li>
			</ul>
		</div>