<extend name="Public/body" />
<block name="body"> <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 922px;">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<?=$page_title?>
			<small>
				<?=$small_title?>
			</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="<?=U('/Backend')?>"><i class="fa fa-dashboard"></i>
					首页</a></li>
			<li class="active">
				<?=$small_title?>
			</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-body">
						<div id="example2_wrapper"
							class="dataTables_wrapper form-inline dt-bootstrap">
							<div class="row">
								<div class="col-md-7"></div>
								<div  class="col-md-7">
									<form action="" class="" method="get">
											<input type="text" class="form-control input-sm" placeholder="标题关键字" aria-controls="example1" name="keywords" value="<?=$keywords?>">
											<select name="is_hid" class="form-control input-sm">
												<option value=''>请选择</option>
												<?php 
													if($is_hid == 1){
														$set ="selected='selected'";
													}else{
														$set ='';
													}
													if(is_numeric($is_hid) && $is_hid ==0){
														$set_ls = "selected='selected'";
													}else{
														$set_ls ='';
													}
												?>
												<option value="1" <?=$set?> >禁用</option>
												<option value="0" <?=$set_ls?>>启用</option>
											</select>
											<button type="submit" class="btn btn-primary btn-sm"
								target-form="operate_form">提交</button>
									</form>
								</div>
								<div class="col-md-5 text-right">
									<?=getTopBtn($menu_info['id'],I('pid'))?>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<table id="example2"
										class="table table-bordered table-hover dataTable text-center"
										role="grid" aria-describedby="example2_success">
										<thead>
											<tr role="row">
												<th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" style="width: 3%"><label><input type="checkbox" class="js_check_all" value=""></label></th>
												<th class="sorting" tabindex="0" rowspan="1" colspan="1" >标题</th>
												<th class="sorting" tabindex="0" rowspan="1" colspan="1" >导航链接</th>
												<th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 7%">排序</th>
												<th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 10%">修改人</th>
												<th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 15%">添加时间</th>
												<th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 6%">状态</th>
												<th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 12%">操作</th>
											</tr>
										</thead>
										<tbody>
											<?php
												foreach($result as $row){
											?>
											<tr>
												<td>
													<label><input type="checkbox" class="ids" name="ids[]" value="<?=$row['id']?>"></label>
												</td>
												<td align="left">
												<?php
													if($row['level']==1){
														echo $row['title'];
													}else{
												?>
													<a href="<?=U('index',array('pid'=>$row['id']))?>"><?=$row['title']?></a>
												<?php
													}
												?>
												</td>
												<td align="left"><?=$row['url']?></td>
												<td align="left">
													<?=$row['sort']?>
												</td>
												<td align="center">
													<?php $sr_admin = get_sr_admin_cate();?>
													<?=$sr_admin[$row['member_id']]?>
												</td>
												<td align="center">
													<?php 
														if($row['addtime'] !=0 ){
													?>
															<?=date("Y-m-d ",$row['addtime']) ?>
													<?php
														}else{
															echo'';
														}
													?>
												</td>
												<td align="center"><?=get_status($row['is_hid'])?></td>
												<td align="center">
													<?php
														$unique_url=array(
															'is_hid'=>array(
																'1'=>U("enable"),
																'0'=>U("disable"),
															)
														);
														$url=array();
														$url[]=$unique_url['is_hid'][$row['is_hid']];
														getListBtn($menu_info['id'],$row['id'],$url,I('pid'));
														getListBtn($menu_info['id'],$row['id'],$unique_url,I('pid'),false);
													?>
												</td>
											</tr>
											<?php
												}
											?>
										</tbody>
									</table>
								</div>
							</div>

								<div class="pages">
									<?=$page?>
								</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
	</section>
	<!-- /.content -->
</div>
</block>