<!-- 头部导航 S-->
<header class="header_nav nologin">
	<nav class="navbar">
		<div class="container">
			<div class="row">
			<div class="navbar-header pull-left">
				  <a href="#" class="myBrand">
					  <img src="__IMG__/logo.png" alt="">
				  </a>
			</div>

			<div class="pull-right clearfix"  id="myNavbarCollapse">
			  <div class="pull-right loginbtn_group">
		      	 <a href="<?=U('User/Login/index')?>" class="btn">登录</a>
		      	 <a href="<?=U('User/Login/index')?>" class="btn">注册</a>
		      </div>
		      <ul class="nav navbar-nav navbar-right myNav">
		        <li><a href="<?=U('Home/Browse/trend')?>">浏览</a></li>
		        <li class="active"><a href="javascript:;">APP</a></li>
		      </ul>
		    </div>
		    </div><!-- /.row -->
		</div>
	</nav>
</header>
<!-- 头部导航 E-->