<form action="" class="clearfix publish_form">
	<div class="publish_box">
		<textarea name="" id="publishBox"></textarea>
		<div class="publish_tool clearfix">
			<ul class="tool_list js_tool_list clearfix">
				<li><a href="#pic" data-toggle="tab"><i class="iconfont" style="color:#32b5fb">&#xe600;</i></a></li>
				<li><a href="#music" data-toggle="tab"><i class="iconfont" style="color:#13b5b1">&#xe603;</i></a></li>
				<li><a href="#vidio" data-toggle="tab"><i class="iconfont" style="color:#ffbb6a">&#xe601;</i></a></li>
				<li><a href="javascript:;" class="js_label_btn" id="js_label_btn"><i class="iconfont" style="color:#ff7070">&#xe615;</i></a></li>
				<li><a href="javascript:;" class="js_at_btn"><i class="iconfont" style="color:#3fc37d">&#xe63f;</i></a></li>
			</ul>
			<ul class="share_list">
				<li class="dropdown">
					<a href="javascript:;" data-toggle="dropdown">
					<i class="iconfont">&#xe627;</i>
					<span class="caret"></span></a>
					<ul class="dropdown-menu right_munu js_right_munu" role="menu" aria-labelledby="dLabel">
						<span class="arrow-1"></span>
						<span class="arrow-2"></span>
						<input type="hidden" name="">
						<li data-id="dropdownLi" name="any">
							<a href="javascript:;">
								<span class="iconbox">
									<i class="iconfont">&#xe627;</i>
								</span>
								<span class="right_txt">不限作品用途</span>
							</a>
						</li>
						<li data-id="dropdownLi" name="jsyjzz">
							<a href="javascript:;">
								<span class="iconbox">
									<i class="iconfont">&#xe62a;</i>
									<i class="iconfont">&#xe61f;</i>
									<i class="iconfont">&#xe629;</i>
								</span>
								<span class="right_txt">署名-禁止商业使用-禁止转载</span>
							</a>
						</li>
						<li data-id="dropdownLi" name="jsyjgr">
							<a href="javascript:;">
								<span class="iconbox">
									<i class="iconfont">&#xe62a;</i>
									<i class="iconfont">&#xe61f;</i>
									<i class="iconfont">&#xe628;</i>
								</span>
								<span class="right_txt">署名-禁止商业使用-禁止个人使用</span>
							</a>
						</li>
						<li data-id="dropdownLi" name="jsy">
							<a href="javascript:;">
								<span class="iconbox">
									<i class="iconfont">&#xe62a;</i>
									<i class="iconfont">&#xe61f;</i>
								</span>
								<span class="right_txt">署名-禁止商业使用</span>
							</a>
						</li>
						<li data-id="dropdownLi" name="jnm">
							<a href="javascript:;">
								<span class="iconbox">
									<i class="iconfont">&#xe62a;</i>
									<i class="iconfont">&#xe629;</i>
								</span>
								<span class="right_txt">署名-禁止匿名使用</span>
							</a>
						</li>
						<li data-id="dropdownLi" name="onlyself">
							<a href="javascript:;">
								<span class="iconbox">
									<i class="iconfont">&#xe62a;</i>
								</span>
								<span class="right_txt">仅自己可见</span>
							</a>
						</li>
						</ul>
				</li>
				<li class="dropdown">
					<a href="javascript:;" data-toggle="dropdown">
					尚软说
					<span class="caret"></span></a>
					<ul class="dropdown-menu label_munu" role="menu" aria-labelledby="dLabel">
						<span class="arrow-1"></span>
						<span class="arrow-2"></span>
						<input type="hidden" name="">
						<li data-id="dropdownLi" name="sss"><a href="javascript:;">尚软说</a></li>
						<li data-id="dropdownLi" name="hdyqh"><a href="javascript:;">活动邀请函</a></li>
						<li data-id="dropdownLi" name="gaoxiao"><a href="javascript:;">搞笑</a></li>
					</ul>
				</li>
				<li class="share_group">
					分享到
					<a href="#" style="color:#d1d1d1;"><i class="iconfont">&#xe634;</i></a>
					<a href="#" style="color:#d1d1d1"><i class="iconfont">&#xe63e;</i></a>
					<a href="#" style="color:#d1d1d1"><i class="iconfont">&#xe625;</i></a>
					<a href="#" style="color:#d1d1d1"><i class="iconfont">&#xe64e;</i></a>
				</li>
			</ul>
			<input type="submit" class="btn btn-primary submit_btn" value="发布">
		</div>
	</div>					
	<!-- 发布图片 S -->
	<div class="pubcon_bar pubimg clearfix">
		<!-- 关闭按钮 S-->
		<a href="javascript:;" class="close js_close_btn close_btn"><i class="iconfont">&#xe633;</i></a>
		<!-- 关闭按钮 E-->
		<div class="pubimg_box">
			<p class="text-center" style="margin-top:90px">
			<i class="iconfont">&#xe635;</i>
			添加图片
			</p>
		</div>
		<div class="pubimg_box"></div>
		<div class="pubimg_box"></div>
	</div>
	<!-- 发布图片 E -->
	<!-- 发布音乐 S -->
	<div class="pubcon_bar pubmusic">
		<!-- 关闭按钮 S-->
		<a href="javascript:;" class="close js_close_btn close_btn"><i class="iconfont">&#xe633;</i></a>
		<!-- 关闭按钮 E-->
		<input type="text" class="form-control" placeholder="请添加音乐地址，支持MP3、MP4、WMA等格式">
	</div>
	<!-- 发布音乐 E -->
	<!-- 发布视频 S -->
	<div class="pubcon_bar pubvideo">
		<!-- 关闭按钮 S-->
		<a href="javascript:;" class="close js_close_btn close_btn"><i class="iconfont">&#xe633;</i></a>
		<!-- 关闭按钮 E-->
		<input type="text" class="form-control" placeholder="请添加视频地址，支持土豆、优酷、乐视、爱奇艺等网站">
	</div>
	<!-- 发布视频 E -->
</form>