<extend name="Public/body"/>
<block name="style">
	<css href="__CSS__/index.css"/>
	<css href="__CSS__/browse.css"/>
	<css href="__PLUGIN__/popover/dist/jquery.webui-popover.min.css"/>
</block>
<block name="body">
	<include file="Public/browse_nav" />
	<!-- 主体部分 S-->
	<div class="main talent_main">
		<div class="container">
			<div class="col-lg-9 clearfix">
				<div class="talent_content">
					<div class="title_tab clearfix text-center">
						<a href="<?=U('index')?>" class="tab_btn active">达人</a>
						<a href="<?=U('myattent')?>" class="tab_btn">我关注的人(<span>48</span>)</a>
						<a href="<?=U('myfans')?>" class="tab_btn">我的粉丝(<span>48</span>)</a>
					</div>
					<div class="talent_box_row">
						<div class="row">
							<div class="col-lg-6">
								<div class="talent_con_box">
									<div class="talent_info clearfix">
										<a href="#" class="talent_portrait pull-left">
											<img src="__IMG__/talent_img1.jpg" class="img-responsive" alt="">
										</a>
										<div class="talent_info_txt pull-left">
											<a href="#" class="talent_name show">摄影DAVID</a>
											<span class="talent_label">尚软达人</span>
										</div>
										<button class="btn btn btn-default js_atten_btn attention_btn pull-right">
											<i class="iconfont"></i> 关注
										</button>
									</div>
									<div class="talent_img">
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
									</div>
								</div>
							</div><!-- col-lg-6 -->
							<div class="col-lg-6">
								<div class="talent_con_box">
									<div class="talent_info clearfix">
										<a href="#" class="talent_portrait pull-left">
											<img src="__IMG__/talent_img1.jpg" class="img-responsive" alt="">
										</a>
										<div class="talent_info_txt pull-left">
											<a href="#" class="talent_name show">摄影DAVID</a>
											<span class="talent_label">尚软达人</span>
										</div>
										<button class="btn btn btn-default js_atten_btn attention_btn pull-right">
											<i class="iconfont"></i> 关注
										</button>
									</div>
									<div class="talent_img">
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
									</div>
								</div>
							</div><!-- col-lg-6 -->
						</div>
					</div><!-- talent_box_row -->

					<div class="talent_box_row">
						<div class="row">
							<div class="col-lg-6">
								<div class="talent_con_box">
									<div class="talent_info clearfix">
										<a href="#" class="talent_portrait pull-left">
											<img src="__IMG__/talent_img1.jpg" class="img-responsive" alt="">
										</a>
										<div class="talent_info_txt pull-left">
											<a href="#" class="talent_name show">摄影DAVID</a>
											<span class="talent_label">尚软达人</span>
										</div>
										<button class="btn btn btn-default js_atten_btn attention_btn pull-right">
											<i class="iconfont"></i> 关注
										</button>
									</div>
									<div class="talent_img">
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
									</div>
								</div>
							</div><!-- col-lg-6 -->
							<div class="col-lg-6">
								<div class="talent_con_box">
									<div class="talent_info clearfix">
										<a href="#" class="talent_portrait pull-left">
											<img src="__IMG__/talent_img1.jpg" class="img-responsive" alt="">
										</a>
										<div class="talent_info_txt pull-left">
											<a href="#" class="talent_name show">摄影DAVID</a>
											<span class="talent_label">尚软达人</span>
										</div>
										<button class="btn btn btn-default js_atten_btn attention_btn pull-right">
											<i class="iconfont"></i> 关注
										</button>
									</div>
									<div class="talent_img">
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
									</div>
								</div>
							</div><!-- col-lg-6 -->
						</div>
					</div><!-- talent_box_row -->

					<div class="talent_box_row">
						<div class="row">
							<div class="col-lg-6">
								<div class="talent_con_box">
									<div class="talent_info clearfix">
										<a href="#" class="talent_portrait pull-left">
											<img src="__IMG__/talent_img1.jpg" class="img-responsive" alt="">
										</a>
										<div class="talent_info_txt pull-left">
											<a href="#" class="talent_name show">摄影DAVID</a>
											<span class="talent_label">尚软达人</span>
										</div>
										<button class="btn btn btn-default js_atten_btn attention_btn pull-right">
											<i class="iconfont"></i> 关注
										</button>
									</div>
									<div class="talent_img">
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
									</div>
								</div>
							</div><!-- col-lg-6 -->
							<div class="col-lg-6">
								<div class="talent_con_box">
									<div class="talent_info clearfix">
										<a href="#" class="talent_portrait pull-left">
											<img src="__IMG__/talent_img1.jpg" class="img-responsive" alt="">
										</a>
										<div class="talent_info_txt pull-left">
											<a href="#" class="talent_name show">摄影DAVID</a>
											<span class="talent_label">尚软达人</span>
										</div>
										<button class="btn btn btn-default js_atten_btn attention_btn pull-right">
											<i class="iconfont"></i> 关注
										</button>
									</div>
									<div class="talent_img">
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
									</div>
								</div>
							</div><!-- col-lg-6 -->
						</div>
					</div><!-- talent_box_row -->

					<div class="talent_box_row">
						<div class="row">
							<div class="col-lg-6">
								<div class="talent_con_box">
									<div class="talent_info clearfix">
										<a href="#" class="talent_portrait pull-left">
											<img src="__IMG__/talent_img1.jpg" class="img-responsive" alt="">
										</a>
										<div class="talent_info_txt pull-left">
											<a href="#" class="talent_name show">摄影DAVID</a>
											<span class="talent_label">尚软达人</span>
										</div>
										<button class="btn btn btn-default js_atten_btn attention_btn pull-right">
											<i class="iconfont"></i> 关注
										</button>
									</div>
									<div class="talent_img">
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
									</div>
								</div>
							</div><!-- col-lg-6 -->
							<div class="col-lg-6">
								<div class="talent_con_box">
									<div class="talent_info clearfix">
										<a href="#" class="talent_portrait pull-left">
											<img src="__IMG__/talent_img1.jpg" class="img-responsive" alt="">
										</a>
										<div class="talent_info_txt pull-left">
											<a href="#" class="talent_name show">摄影DAVID</a>
											<span class="talent_label">尚软达人</span>
										</div>
										<button class="btn btn btn-default js_atten_btn attention_btn pull-right">
											<i class="iconfont"></i> 关注
										</button>
									</div>
									<div class="talent_img">
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
									</div>
								</div>
							</div><!-- col-lg-6 -->
						</div>
					</div><!-- talent_box_row -->

					<div class="talent_box_row">
						<div class="row">
							<div class="col-lg-6">
								<div class="talent_con_box">
									<div class="talent_info clearfix">
										<a href="#" class="talent_portrait pull-left">
											<img src="__IMG__/talent_img1.jpg" class="img-responsive" alt="">
										</a>
										<div class="talent_info_txt pull-left">
											<a href="#" class="talent_name show">摄影DAVID</a>
											<span class="talent_label">尚软达人</span>
										</div>
										<button class="btn btn btn-default js_atten_btn attention_btn pull-right">
											<i class="iconfont"></i> 关注
										</button>
									</div>
									<div class="talent_img">
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
									</div>
								</div>
							</div><!-- col-lg-6 -->
							<div class="col-lg-6">
								<div class="talent_con_box">
									<div class="talent_info clearfix">
										<a href="#" class="talent_portrait pull-left">
											<img src="__IMG__/talent_img1.jpg" class="img-responsive" alt="">
										</a>
										<div class="talent_info_txt pull-left">
											<a href="#" class="talent_name show">摄影DAVID</a>
											<span class="talent_label">尚软达人</span>
										</div>
										<button class="btn btn btn-default js_atten_btn attention_btn pull-right">
											<i class="iconfont"></i> 关注
										</button>
									</div>
									<div class="talent_img">
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
										<div class="img_box">
											<a href="#">
												<img src="__IMG__/talent_imglist_1.jpg" class="img-responsive" alt="">
											</a>
										</div>
									</div>
								</div>
							</div><!-- col-lg-6 -->
						</div>
					</div><!-- talent_box_row -->
				</div>
			</div>
			<div class="col-lg-3 clearfix">
				<div class="list-group hot_label">
						<div href="#" class="list-group-item list_header">
							<p style="font-size:16px;">
							 热门 <i class="iconfont" style="color:#1087eb">&#xe638;</i><a href="#" class="more pull-right iconfont" style="color:#999">&#xe607;</a>
							</p>
						</div>
						<a href="#" class="list-group-item">
							<span class="label_name">猜你喜欢</span>
						</a>
						<a href="#" class="list-group-item">							<span class="label_name">女神</span>
						</a>
						<a href="#" class="list-group-item">
							<span class="label_name">明星</span>
						</a>
						<a href="#" class="list-group-item">
							<span class="label_name">穿搭</span>
						</a>
						<a href="#" class="list-group-item">
							<span class="label_name">文具</span>
						</a>
						<a href="#" class="list-group-item">
							<span class="label_name">旅行</span>
						</a>
						<a href="#" class="list-group-item">
							<span class="label_name">美妆</span>
						</a>
						<a href="#" class="list-group-item">
							<span class="label_name">男神</span>
						</a>
						<a href="#" class="list-group-item">
							<span class="label_name">运动</span>
						</a>
						<a href="#" class="list-group-item">
							<span class="label_name">摄影</span>
						</a>
						<a href="#" class="list-group-item">
							<span class="label_name">二次元</span>
						</a>
						<a href="#" class="list-group-item">
							<span class="label_name">萌宠</span>
						</a>
						<a href="#" class="list-group-item">
							<span class="label_name">美食</span>
						</a>
					</div>
			</div>
		</div>
	</div>
	<!-- 主体部分 S-->
	<div class="loading_box"><i class="iconfont">&#xe61a;</i>正在加载</div>
</block>
<block name="script">
	<js href="__PLUGIN__/popover/dist/jquery.webui-popover.min.js"/>
	<js href="__JS__/common.js"/>
</block>