<extend name="Public/body"/>
<block name="style">
	<css href="__CSS__/index.css"/>
	<css href="__CSS__/browse.css"/>
	<css href="__PLUGIN__/popover/dist/jquery.webui-popover.min.css"/>
</block>
<block name="body">
	<include file="Public/browse_nav" />
	<!-- 主体部分 S-->
	<div class="main talent_main">
		<div class="container">
			<div class="col-lg-9 clearfix">
				<div class="talent_content">
					<div class="title_tab clearfix text-center">
						<a href="<?=U('index')?>" class="tab_btn">达人</a>
						<a href="<?=U('myattent')?>" class="tab_btn">我关注的人(<span>48</span>)</a>
						<a href="<?=U('myfans')?>" class="tab_btn active">我的粉丝(<span>48</span>)</a>
					</div>
					<div class="talent_conbody">
						<div class="tab_box">
							<a href="#" class="active">最近互动</a> | <a href="#">最新关注</a>
						</div>
						<div class="user_group clearfix">
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
							<div class="user_conbox">
								<a href="#" class="user_img pull-left">
									<img src="__IMG__/user-img1.jpg" class="img-responsive" alt="">
								</a>
								<div class="user_info pull-left">
									<a href="#" class="user_name show">
										K-fashion
									</a>
									<span class="up_date">04-14 15:35更新</span>
								</div>
							</div><!-- user_conbox -->
						</div>
					</div>
					<!-- 分页栏	 S-->
					<div class="pagination_lh clearfix">
						<div class="previous pull-left"></div>
						<div class="middle pull-left">
							<a href="javascript:;">
								2/2 <span class="caret"></span>
							</a>
							<ul class="menu">
								<li><a href="javascript:;">1</a></li>
								<li><a href="javascript:;">2</a></li>
							</ul>
						</div>
						<div class="next pull-right"></div>
					</div>
					<!-- 分页栏	 E-->
				</div>
			</div>
			<div class="col-lg-3 clearfix">
				<div class="list-group search_bar">
					<div href="#" class="list-group-item list_header">
						<p style="font-size:16px;">
						 	搜索关注
						</p>
					</div>
					<div class="list-group-item">
						<form action="" class="search_form">
							<input type="text" class="search_input">
							<button class="btn search_btn"><i class="iconfont">&#xe605;</i></button>
						</form>
					</div>
				</div>

				<div class="tjgz_bar">
					<div class="list-group">
					  <div href="#" class="list-group-item list_header clearfix">
					  	<p style="font-size:16px;" class="pull-left">推荐关注</p>
					  	<i class="iconfont pull-right">&#xe607;</i>
					  </div>
					  <ul class="list_body">
						  <li class="clearfix">
						  	<a href="#" class="user_img pull-left">
						  		<img src="__IMG__/user_image1.jpg" class="img-responsive" alt="">
						  	</a>
						  	<a href="#" class="user_name pull-left">MAX</a>
						  	<a href="#" class="pull-right">
						  		<i class="iconfont attent">&#xe613;</i>
						  	</a>
						  </li>
						  <li class="clearfix">
						  	<a href="#" class="user_img pull-left">
						  		<img src="__IMG__/user_image2.jpg" class="img-responsive" alt="">
						  	</a>
						  	<a href="#" class="user_name pull-left">MAX</a>
						  	<a href="#" class="pull-right">
						  		<i class="iconfont attent">&#xe613;</i>
						  	</a>
						  </li>
						  <li class="clearfix">
						  	<a href="#" class="user_img pull-left">
						  		<img src="__IMG__/user_image3.jpg" class="img-responsive" alt="">
						  	</a>
						  	<a href="#" class="user_name pull-left">MAX</a>
						  	<a href="#" class="pull-right">
						  		<i class="iconfont attent">&#xe613;</i>
						  	</a>
						  </li>
						  <li class="clearfix">
						  	<a href="#" class="user_img pull-left">
						  		<img src="__IMG__/user_image4.jpg" class="img-responsive" alt="">
						  	</a>
						  	<a href="#" class="user_name pull-left">MAX</a>
						  	<a href="#" class="pull-right">
						  		<i class="iconfont attent">&#xe613;</i>
						  	</a>
						  </li>
						  <li class="clearfix">
						  	<a href="#" class="user_img pull-left">
						  		<img src="__IMG__/user_image5.jpg" class="img-responsive" alt="">
						  	</a>
						  	<a href="#" class="user_name pull-left">MAX</a>
						  	<a href="#" class="pull-right">
						  		<i class="iconfont attent">&#xe613;</i>
						  	</a>
						  </li>
						  <li class="clearfix">
						  	<a href="#" class="user_img pull-left">
						  		<img src="__IMG__/user_image1.jpg" class="img-responsive" alt="">
						  	</a>
						  	<a href="#" class="user_name pull-left">MAX</a>
						  	<a href="#" class="pull-right">
						  		<i class="iconfont attent">&#xe613;</i>
						  	</a>
						  </li>
						  <li class="clearfix">
						  	<a href="#" class="user_img pull-left">
						  		<img src="__IMG__/user_image2.jpg" class="img-responsive" alt="">
						  	</a>
						  	<a href="#" class="user_name pull-left">MAX</a>
						  	<a href="#" class="pull-right">
						  		<i class="iconfont attent">&#xe613;</i>
						  	</a>
						  </li>
						   <li class="clearfix">
						  	<a href="#" class="user_img pull-left">
						  		<img src="__IMG__/user_image4.jpg" class="img-responsive" alt="">
						  	</a>
						  	<a href="#" class="user_name pull-left">MAX</a>
						  	<a href="#" class="pull-right">
						  		<i class="iconfont attent">&#xe613;</i>
						  	</a>
						  </li>
						  <li class="clearfix">
						  	<a href="#" class="user_img pull-left">
						  		<img src="__IMG__/user_image5.jpg" class="img-responsive" alt="">
						  	</a>
						  	<a href="#" class="user_name pull-left">MAX</a>
						  	<a href="#" class="pull-right">
						  		<i class="iconfont attent">&#xe613;</i>
						  	</a>
						  </li>
						  <li class="clearfix">
						  	<a href="#" class="user_img pull-left">
						  		<img src="__IMG__/user_image3.jpg" class="img-responsive" alt="">
						  	</a>
						  	<a href="#" class="user_name pull-left">MAX</a>
						  	<a href="#" class="pull-right">
						  		<i class="iconfont attent">&#xe613;</i>
						  	</a>
						  </li>
					  </ul>
					</div>
					</div>
			</div>
		</div>
	</div>
	<include file="Home@Public/footer"/>
</block>
<block name="script">
	<js href="__PLUGIN__/popover/dist/jquery.webui-popover.min.js"/>
	<js href="__JS__/common.js"/>
</block>