<extend name="Public/body" />
<block name="body"> <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 922px;">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<?=$page_title?>
			<small>
				<?=$small_title?>
			</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="<?=U('/Backend')?>"><i class="fa fa-dashboard"></i>
					首页</a></li>
			<li class="active">
				<?=$page_title?>
			</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-body">
						<div id="example2_wrapper"
							class="dataTables_wrapper form-inline dt-bootstrap">
							<div class="col-sm-12">
								<div class="row">
									<div class="media list_j">
										<div class="media-left">
											<img width="50" height="50" src="__IMG__/login_bg.jpg">
										</div>
										<div class="media-body">
										
											<h4 class="media-heading"><a href="#this">生命环</a></h4>
											<p>生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介生命环简介</p>
											<img width="550" height="550" src="__IMG__/login_bg.jpg" class="img-responsive">
										</div>
											<span class="user_simg pull-left" style="background-image:url('/qbk/code/Public/Home/img/user-img2.jpg')">
										</span>
										
										<div class="media-body">
										
											<div class="comment_txt pull-left">
												<a href="#" class="user_name js_Personame" data-url="/qbk/code/Home/Index/about.html">每日穿搭小图</a>
												<span class="js_comment_txt">文艺范儿十足呀~</span>
											</div>
											
										</div>
									</div>
									
								</div>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
	</section>
	<!-- /.content -->
</div>


</block>